@font-face {
    font-family: Segoe-UI;
    src: url(font/SegoeUI-Roman-VF_web.woff2);
    font-weight: 600;
}
@font-face {
    font-family: Segoe-UI;
    src: url(font/SegoeUI-Roman-VF_web.woff2);
    font-weight: 400;
}
@font-face {
    font-family: latest-woff2;
    src: url(font/latest.woff2);
}
body{
    margin:0;
    padding: 0;
    position: relative;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    height: 54px;
    
}
.azure_menu{
    display: flex;
    align-items: center;
    min-width: 120px;
    gap: 16px;
    padding-left: 12px;

}
.menu_icon{
    padding-top:5px;
}
.menu_icon svg{
    width: 20px;
    height: 15px;
}
.azure_menu a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    color: #1A1A1F;
}
.azure_icon{
    
    padding-top: 5px;
}
.search{
    display: flex;
    align-items: center;
    padding-left: 8px;
}
.search_icon{
    padding-top: 5px;
}
.search_icon img{
    width: 28px;
    height: 28px;
}
.search_icon button{
    border: none;
    background: none;
}
.sign_in{
    padding: 18px 20px 20px 21px;
    display: flex;
    align-items: center;
}
.sign_in a{
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #1A1A1F;
}
.header{
    display: none;
}
.header2{
    display: none;
}
.banner{
    padding: 12px 0;
    background-color: #0078d4;
    text-align: center;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    border: solid #fff;
    border-width: 1.9px 1.9px 0px 0px;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg) ;
}
.banner a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding-left: 16px;
    padding-right: 30px;
    line-height: 21px;
    padding-bottom: 2px;
    
}
.azure_invent{
    background-image: url(asset/background1.png);
    background-size: 100% 100%;
    object-fit: cover;
    padding: 60px 0px;
}
.azure_invent .heading1 p{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 600;
    color: #0078d4;
    margin: 0 0 9px;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.3;
}
.azure_invent h1{
    font-family: Segoe-UI;
    font-size: 54px;
    font-weight: 600;
    color: #1A1A1F;
    line-height: 1.1;
    margin: 0 0 29px;
    text-align: center;
}
.azure_invent p{
    font-family: Segoe-UI;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 9px;
    color: #4c4c51;
    text-align: center;
    padding: 0 15px;
}
.button_group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 29px;
}
.button1 {
    background: #0078d4;
    padding:11px 16px 10px 16px;
    
    border: 1px solid #0078d4;
    border-radius: 4px;
    margin-top: 12px;
}
.button1 a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 0 71px;

}
.button2 {
    background: none;
    padding:11px 16px 10px 16px;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 12px;
}
.button2 a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    padding: 0 51px;

}
.body_section1{
    padding: 43px 0px 85px 0px;
}
.body_section1 h2{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 600;
    color: #1A1A1F;
    text-align: center;
    width: 91vw;
    padding: 0 14.5px;
    line-height: 1.2;

}
.section1_cards{
    display: grid;
    gap:24px;
    margin: 32px 0px 0px;
    padding: 0 15px;
}
.section1_card1{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    border: 1px solid transparent;
}
.section1_card1 a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 600;
    color: #0062ad;
    line-height: 1.1;
}
.card1_content1{
    padding: 25px 0px 23px 12px;
}
.card1_content2{
    padding: 26px 0px 24px 12px;
}
.card1_content3{
    padding: 25px 0px 23px 12px;
    line-height: 1.3;
}
.section1_card1 img{
    width: 68px;
    height: 68px;
}
.card1_image1{
    height: 100%;
}
.card1_image2{
    height: 100%;
}
.card1_image2 img{
    margin-top: 3px;
    margin-bottom: -2px;
}
.card1_image3 img{
    margin-top: 4px;
}

.section1_card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin-top: 55px;
}
.section1_card2 span{
    font-family: Segoe-UI;
    font-size: 16px;
    font-weight:600;
    margin-bottom: 24px;
    color: #1A1A1F;
}
.section1_card2 a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    color: #0062ad;
    border-radius: 4px;
    border: 1px solid #0078d4;
    padding: 11px 16px;
    width: 64.376vw;
    display: flex;
    justify-content: center;

}
.section1{
    display: none;
}
.body_section2{
    padding: 60px 0px 60px 0px;
    background-color: #f8f9fa;
}
.body_section2 h2{
    font-family: Segoe-UI;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin: 0px 0px 32px 14.5px;
    text-align: center;
    color: #1A1A1F;
    width: 91vw;
}
.toggle_box{
    padding: 0 15px;
    margin-bottom: 24px;
}
.toggle_box button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #eaebec;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    padding: 12px 24px 12px 12px;
    min-height: 60px;
    width: 100%;

}
.toggle_box img{
    width: 23.4px;
    height: 23.4px;
    transform: rotate(180deg);
    margin-right: -4px;
}
.toggle_box:first-child img{
    transform: rotate(180deg);
}
.toggle_box a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1F;

}
.section2_cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px;
    gap: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 17px;
}
.section2_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    border: 1px solid transparent;
    padding: 24px;
   
}
.section2_card:nth-child(2) p{
    margin-bottom: 0px;
}
.section2_card:nth-child(3) a{
    margin-top: -2px;

}
.section2_card:nth-child(6) p{
    margin-bottom: 0px;
}
.section2_card:nth-child(5) p{
    margin-bottom: 12px;
}
.section2_card svg{
    width: 36px;
    height: 36px;

}
.section2_card a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    color: #0062ad;
    line-height: 1.3;
}
.card_container p{
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 400;
    color: #4c4c51;
    line-height: 1.5;
    margin-top: 7px;
}
.toggle_box:nth-child(n+3):nth-child(-n+8){
    margin-top: -5px;
    margin-bottom: 17px;
}
.toggle_box:nth-child(n+3):nth-child(-n+8) img{
    width: 23.4px;
    height: 23.4px;
    transform: rotate(0deg);
    margin-right: -5.5px;
    margin-bottom: 1px;
    
}
.toggle_box:nth-child(n+3):nth-child(-n+8) a{
    margin-bottom: 2px;
}
.section2_link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
    margin-left: -0.5px;
    margin-bottom: 34px;
}
.section2_link img{
    width:20px;
    height: 20px;
}
.section2_link a{
    font-family: Segoe-UI;
    font-size: 14px;
    color: #0062ad;
    font-weight: 600;
    text-decoration: none;
}
.section2_image img{
    border-radius: 12px;
    border: 2.5vw solid black;
    box-shadow: 0 10px 20px rgb(0 0 0 / 14%);
    width: 80%;
    height: auto;
    
}
.section2_image {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section2{
    display: none;
}
.body_section_three{
    padding: 60px 0px;
}
.body_section_three h2{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #1A1A1F;
    text-align: center;
}
.section_three_container{
    margin-top: 10%;
}
.section_image img{
    width: 100%;
}
.logos .logo:first-child{
    display: flex;
    justify-content: center;
}
.logo_desktop{
    display: none;
}

.text p{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 400;
    color: #1A1A1F;
    line-height: 1.3;
    margin: 0;
}
.text_container{
    padding:  24px;
}

.section_content{
    background-color: #f8f9fa;
}
.section_link{
    margin-top: 40px;
}
.section_link a{
    text-decoration: none;
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    color: #0062ad;
}
.dot{
    text-align: center;
}
.dot span{
    color: #1A1A1F;
    padding: 15px 19px;
    
}
.section_image_desktop{
    display: none;
}
.section_four{
    padding: 60px 0;
    background-color: #f8f9fa;
}
.section_four_container{
    padding: 36px;
    display: flex;
    flex-direction: column;
}
.section_four img{
    max-width: 100%;

}
.section_four_content{
    padding: 0 15px;
}
.section_four_content h2{
    font-family: Segoe-UI;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2;
    color: #1A1A1F;
    text-align: center;
    margin: 0;
}
.button{
    border: 1px solid #0078d4;
    border-radius: 4px;
    padding: 10px 16px;
    margin-top: 20px;
}
.button a{
    font-family: SEgoe-UI;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #0062ad;
    display: flex;
    justify-content: center;
}
.section_five{
    padding: 84px 0;
}
.section_five h2{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
}
.section_five_cards{
    display: grid;
    grid-template-columns: repeat(6, 75vw);
    column-gap: 30px;
    row-gap: 24px;
    margin-top: 36px;
    padding: 0 15px;
    overflow: scroll;
}
.section_five_card{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
    display: flex;
    flex-direction: column;
}
.section_five_card img{
    width: 74.376vw;
    height: 37.19vw;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}
.card_text{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card_text a{
    font-family: Segoe-UI;
    font-size: 12px;
    font-weight: 600;
    color: #4c4c51;
    text-decoration: none;
}
.card_text p{
    font-family: Segoe-UI;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.section_six_container{
    padding: 24px;
    background-color: #f8f9fa;
}
.section_six_container p{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: #242429 ;
}
.section_six img{
    max-width: 100%;
}
.section_six .button{
    width: 215.52px;
    margin-top: 32px;
}
.section_six_image{
    position: relative;
}
.section_six_desktop{

    display: none;
}

.play_button{
    color: #0078d4;
    background-color: #fff;
    border-radius: 50px;
    width: 72px;
    height: 72px;
    position: absolute;
    left: 40%;
    right: 50%;
    bottom: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.play_button span{
   
    font-size: 34px;
}
.vedio_link{
    display: none;
}
.section_seven{
    padding: 60px 0;
}
.section_seven_cards{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 0 15px;
}
.section_seven_card{
    display: flex;
    align-items: center;
    padding-left: 18px;
    border-radius: 6px;
 
}
.section_seven_card:first-child{
    background-color: #243a5e;
}
.section_seven_card:nth-child(2){
    background-color: #242429;
}
.section_seven_card:last-child{
    background-color: #0062ad;
}
.section_seven_card .card_text{
    gap: 0;
    padding: 24px 24px 24px 30px;
}
.section_seven_card a{
    font-family: Segoe-UI;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
 .section_seven .card_image img{
    width: 36px;
    height: 36px;
  
}
.section_seven_card p{
    display: none;
}
footer{
    background-color: #f4f5f6;
    padding: 48px 0px 43px;
}
.footer{
    display: flex;
    flex-direction: column;
   
    
}
.footer_nav_one{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
}
.app_icon img{
    width: 24px;
    height: 24px;
}
.azure_app{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    background-color: #eaebec;
    width: 199px;
    height: 24px;
}
.azure_app a{
    font-family: Segoe-UI;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    color: #4C4C51;
    text-decoration: none;
    margin-left: 12px;
}
.media{
    margin: 12px 0px 0px 12px;
}
.media ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.media li{
    list-style: none;
}
.media li+li{
    margin-left: 24px;
}
.footer_nav_two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 36px;
    padding: 0 18px;
    row-gap: 36px;
    
}
.nav_two_button{
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #eaebec;
    align-items: center;
}
.nav_two_button a{
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #1A1A1F;

}
.footer_nav_three{
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    margin-top: 36px;

}
.language{
    display: flex;
    flex-direction: column;
    
}
.language span{
    font-family: Segoe-UI;
    font-size: 12px;
    font-weight: 400;
    color: #1A1A1F;
    margin-bottom: 8px;
}
.drop_down{
    margin-top: 5px;
}
.drop_down img{
    width: 15px;
    height: 15px;
}
.language_text a{
    font-family: Segoe-UI;
    font-size: 14px;
    font-weight: 400;
    color: #1A1A1F;
    text-decoration: none;
}
.language_selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 26px;
    border: 1px solid #747479;
    background-color: #fff;
    width: 178px;
}
.nav_three_list{
    margin-top: 36px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    flex-wrap: wrap;
}
.nav_three_list a{
    font-family: Segoe-UI;
    font-size: 12px;
    font-weight: 400;
    color: #1A1A1F;
    text-decoration: none;
    padding: 2px 0;
    margin: 0px 0px 12px 16px;
}
.nav_three_list span{
    font-family: Segoe-UI;
    font-size: 12px;
    font-weight: 600;
    color: #1A1A1F;
    padding: 2px 0;
    margin: 0px 0px 12px 16px;
}
.footer_nav_two_desktop{
    display: none;
}
.chat_box{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078d4;
    width: 156.67px;
    height: 42px;
    border-radius: 6px;
    right: 0;
    
}
.chat_box a{
    font-family: Segoe-UI;
    font-size: 14px;
    color: #fff;
    font-weight: 14px;
    text-decoration: none;
    margin-left: 5px;
}
@media screen and (min-width: 375px) {
 
    .azure_invent h1{
        margin-bottom: 35px;
    }
    .azure_invent p{
        line-height: 1.293;
    }
    .button_group{
        margin-top: 35px;
    }
    .button1 a{
        padding: 0px 94px;
    }
    .button2 a{
        padding: 0px 74px;
    }
    .body_section1 h2{
        width: 92vw;
        padding: 0 15px;
    }
    .section1_cards{
        margin-top: 37px;
    }
    .section1_card2{
        margin-top: 64px;
    }
    .section1_card2 a{
        width: 69.6vw;
        padding: 11px 16px;
    }
    .section1_card2 span{
        margin-bottom: 26px;
    }
    .body_section2 h2{
        margin-left: 17px;
        margin-bottom: 37px;
    }
    .section2_card:nth-child(2) p{
        margin-bottom: 12px;
    }
    .section2_card:nth-child(1) a{
        margin-bottom: -1px;
    }
    .toggle_box:nth-child(n+3):nth-child(-n+8) a {
        margin-bottom: 1px;
    }
    .section2_image img{
        width: 82%;
    }
    .section2_link{
        margin-top: 53px;
        margin-bottom: 8px;
    }
    
}
@media screen and (min-width: 425px) {
    .azure_invent h1{
        margin-bottom: 40px;
    }
    .button_group{
        margin-top: 40px;
    }
    .button1 a{
        padding: 0px 115px;
    }
    .button2 a{
        padding: 0px 95px;
    }
    .body_section1{
        padding-top: 44px;
    }
    .body_section1 h2{
        padding-left: 17px;
    }
    .section1_cards{
        margin-top: 41px;
    }
    .section1_card2{
        margin-top: 69px;
    }
    .body_section2 h2{
        margin-left: 19px;
        margin-bottom: 42px;
    }
    .section2_card:nth-child(1) a{
        margin-bottom: 0px;
    }
    .section2_image img{
        width: 84%;
    }
    .section2_link{
        margin-top: 53px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 439px) {
    .footer_nav_one{
        flex-direction: row;
    }
    .media{
        margin-left: 36px;
    }
}
@media screen and (min-width: 540px){
    .section_four_content h2{
        text-align: left;
    }
    .button{
        width: 141.75px;
    }
}
@media screen and (min-width: 570px){
    .section_image img{
        height:220px;
        
    }
}
@media screen and (min-width: 768px) {
    .header_nav{
        display: none;
    }
    .header{
        display: flex;
        height: 55px;
        justify-content: space-between;
    }
    .header_container{
        display: flex;
        padding: 0 12px;
    }
    .azure{
        display: flex;
        align-items: center;
    }
    .azure_icon svg{
        width: 24px;
        height: 24px;
    }
    .azure a{
        text-decoration: none;
        font-family: Segoe-UI;
        font-size: 18px;
        font-weight: 600;
        line-height: 44px;
        color: #1A1A1F;
        margin-left: 12px;
        padding-bottom: 2px;
    }
    .nav_explore{
        display: inline-flex;
        margin-left: 13px;
    }
    .explore_list{
        display: flex;
    }
    .explore_list button{
        display: flex;
        align-items: center;
        background: none;
        border: none;
        padding: 20px 8px 20px 7px;
    }
    .explore_list button img{
        width: 9px;
        height: 9px;
        margin: 4.9px 0px 0px 4px;
    }
  
    .explore_list button a{
        font-family: Segoe-UI;
        font-size: 13px;
        font-weight: 400;
        color: #1A1A1F;
        text-decoration: none;
    }
    .header_container2{
        display: flex;
        align-items: center;
    }
    .header_search{
        padding-right: 12px;
        padding-top: 3px;
    }
    .header_search img{
        width: 23px;
        height: 23px;
    }
    .expand button{
        background: none;
        border: none;
        padding: 17px 10px 15px 8px;
    }
    .expand button svg{
        width: 24px;
        height: 24px;
    }
    .header_sign{
        display: flex;
        align-items: center;
    }
    .header_sign a{
        text-decoration: none;
        font-family: Segoe-UI;
        font-size: 13px;
        color: #1A1A1F;
        padding: 20px 8px;
    }
    .banner{
        height: 24px;
    }
    .banner a{
        padding-bottom: 0;
        padding-left: 26px;
    }
    .arrow{
        margin-left: -1.5px;
    }
    .azure_container{
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .azure_invent h1{
        margin-bottom: 12px;
    }
    .azure_invent P{
        line-height: 1.3;
    }
    .button_group{
        margin-top: 36px;
    }
    .button1 a{
        padding: 0px 262px;
    }.button2 a{
        padding: 0px 242px;
    }
    .body_section1{
        display: none;
    }
    .section1{
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }
    .section1 h2{
        font-family: Segoe-UI;
        font-weight: 600;
        font-size: 24px;
        width: 92.188vw;
        padding-left: 30px;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .section1_cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        margin-top: 37px;
        padding: 0 15px;
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;

    }
    .section1_card1{
        background-image: url(asset/ez-optimize-desktop.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 24px 0px;
        max-width: 625px;

    }
    .card1_content{
        margin-left: 23px;
    }
    .card1_content a{
        text-align: none;
        font-family: Segoe-UI;
        font-size: 24px;
        color: #0062ad;
        font-weight: 600;
    }
    .card1_content p{
        font-family: Segoe-UI;
        font-size: 16px;
        color: #1A1A1F;
        font-weight: 400;
        line-height: 1.5;
        margin-top: 12px;
        margin-bottom: 14px;
        max-width: 542.31px;


    }
    .section1_card2{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
    }
    .card2_child1{
        display: flex;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
        border: 1px solid transparent;
        max-width: 625px;
    
    }
    .card2_child1 .image{
        width: 119px;
        background-image: url(asset/ez-net-desktop.webp);
        background-position-X: -1.9pc;
        background-repeat: no-repeat;
        background-size: 150% 100%;
    }
    .image img{
        width: 119px;
        height: 100%;
    }
    .card2_child2 .image{
        width: 119px;
        background-image: url(asset/ez-devbox-desktop.webp);
        background-position-x: -3.7pc;
        background-repeat: no-repeat;
        background-size: 196% 100%;
    }
    .child1_content{
        padding: 24px 23px 24px 49px;
        
    }
    .child1_content a{
        font-family: Segoe-UI;
        font-size: 20px;
        color: #0062ad;
        font-weight: 600;
        border: none;
        width: 21vw;
        line-height: 1.3;
        padding: 0;
    }
    .child1_content p{
        font-family: Segoe-UI;
        font-weight: 400;
        font-size: 16px;
        color: #4c4c51;
        line-height: 1.5;
        margin: 12px 0;
        width:21vw;
        display: block;
        
    }
    .card2_child2{
        display: flex;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 5px rgb(0 0 0 / 14%);
        border: 1px solid transparent;
        max-width: 625px;
        
    }
    .child2_content{
        padding: 24px 23px 24px 49px;
     
    }
    .child2_content a{
        font-family: Segoe-UI;
        font-size: 20px;
        color: #0062ad;
        font-weight: 600;
        border: none;
        width: 21vw;
        line-height: 1.3;
        padding:0
    }
    .child2_content p{
        font-family: Segoe-UI;
        font-weight: 400;
        font-size: 16px;
        color: #4c4c51;
        line-height: 1.5;
        width: 21vw;
        margin: 12px 0px;
      
    }
    .section1_card3{
        display: flex;
        justify-content: center;
        padding: 24px;
        margin: 48px 256px 0px 256px;
    }
    .section1_card3 span{
       font-family: Segoe-UI;
       font-size: 16px;
       font-weight: 600;
       width: 6.366vw;
       margin-right: 36px;
       line-height: 1.5;
    }
    .section1_card3 button{
        background-color: transparent;
        border: 1px solid #0078d4;
        border-radius: 4px;
        width: 11.892vw;
        height: 64px;
        margin-top: 4px;
        
    }
    .section1_card3 a{
        color: #0062ad;
        font-family: Segoe-UI;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        padding: 0px 10px;
        display: flex;
        align-items: center;
        line-height: 1.5;
        

    }
    .body_section2{
        display: none;
    }
    .section_two{
        background-color: #f8f9fa;
    }
    .section2{
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
        padding-top: 41px;
    }
    .section2 h2{
        font-family: Segoe-UI;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        padding: 0 15px;
        text-align: left;
        color: #1A1A1F;
        margin-bottom: 59px;
    }
    .section2_container{
        display: flex;
        padding: 0 15px;
    }
    .section2_cards{
        padding: 0;
    }
    .list{
        margin-right: 12px;
        width: 70vw;
        text-align: left;
        margin-top: -10.5px;
    }
    .list_item{
        padding: 12px;
        margin-bottom: 14px;
      
    }
    .list_item a{
        font-family: Segoe-UI;
        font-size: 16px;
        font-weight: 400;
        color: #4c4c51;
        text-decoration: none;
        margin-left: -2px;
        line-height: 1.5;
    }
    .icon img{
        width:36px;
        height: 36px;
    }
    .section2_cards{
       grid-template-columns: repeat(3, 1fr);
    }
    .section2_link  {
        padding: 14px 0px 0px 4px;
        margin-top: 0;
    }
    .card_container p{
        font-size: 16px;
        margin:19px 0px 32px 0px;
    }
    .section2_card:nth-child(6) p{
        margin-bottom: 24px;
    }
    .section2_card:nth-child(5) p{
        margin-bottom: 24px;
    }
    .section2_card:nth-child(2) p{
        margin-bottom: 24px;
    }
    .section2_image{
        display: none;
    }
    .body_section_three h2{
        font-size: 24px;
    }
    .section_image{
        display: none;
    }
    .section_image_desktop{
        display: flex;
    }
    .section_image_desktop img{
       width: 100%;
    }
    .section_three_container{
        margin-top: 0;
    }
    .section_four_container{
        flex-direction: row;
        align-items: center;
        max-width: 1310px;
        margin-left: auto;
    }
    .section_four_content{
        width: 45%;
        
    }
    .section_four img{
        width: 41%;
        max-width: 485.83px;
    
    }
    .button{
        margin-top: 36px;
    }
    .section_five_cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .section_five_card img{
        width: 100%;
        height: 14.714vw;
    }
    .section_five_card:nth-child(3) img{
        display: none;
    }
    .section_five_card:nth-child(3) a{
        display: none;
    }
    .section_five_card:nth-child(3) {
        background-image: url(asset/scott-g.webp);
        height: 100%;
        width: 100%;
        object-fit: cover;
      
    }
    .section_five_card:nth-child(3) p{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: 106px 19px 24px 19px;
    }
    .section_five_card:nth-child(5) img{
        display: none;
    }
    .section_five_card:nth-child(5) a{
        display: none;
    }
    .section_five_card:nth-child(5) {
        background-image: url(asset/azure-regions.png);
        height: 100%;
        width: 100%;
        object-fit: cover;
      
    }
    .section_five_card:nth-child(5) p{
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        padding: 106px 15px 24px 15px;
    }

    .section_six_image{
        display: none;
    }
    .section_six_desktop{
        display: flex;
    }
   
    .section_six_container p{
        margin-top: 0;
    }
    .section_seven_card {
        display: flex;
        flex-direction: column;
        padding: 25px 24px;
        align-items: flex-start;
    }
    .section_seven_card .card_text{
        padding: 0;
        margin-top: 18px;
    }
    .section_seven_card p{
        display: flex;
        font-family: Segoe-UI;
        font-size: 16px;
        color: #fff;
        margin-top: 12px;
    }
    .section_seven .card_image img {
        width: 48px;
        height: 48px;
    }
}
 @media screen and (min-width: 769px) {
    .azure_invent .heading1 p{
        text-align: left;
    }
    .azure_invent h1{
        text-align: left;
        padding-left: 15px;
    }
    .azure_invent p{
        text-align: left;
        width: 71vw;
    }
    .button_group{
        flex-direction: row;
        padding-left: 15px;
    }
    .button1{
        margin-right: 24px;
    }
    .button1 a{
        padding: 0;
    }
    .button2 a{
        padding:0
    }
    
}
@media screen and (min-width: 960px) {
    .azure_invent h1{
        width: 45.32vw;
    }
    .azure_invent p{
        width: 47vw;
    }
    .section1 h2{
        padding-left: 15px;
        width: 96.876vw;
    }
    .section1_cards{
        margin-top: 36px;
    }
    .section1_card1{
        width: 46.667vw;
        height: 38.334vw;
    }
    .card1_content{
        padding-bottom: 15px;
    }
    .card2_child1{
        width: 46.667vw;
        height: 17.709vw;
    }
    .card2_child1 .image {
        background-position-X: -0.65pc;
        background-size: 118% 100%;
    }
    .child1_content a{
        margin-left: -17.5px;
    }
    .child1_content p{
        width: 24vw;
    }
    .card2_child2{
        width: 46.667vw;
        height: 22.918vw;
    }
    .card2_child2 .image {
        background-position-x: -2pc;
        background-size: 156% 100%;
    }
  
    .child2_content a{
        width: 25vw;
    }
    .child2_content p{
        width: 26vw;
    }
    .section1_card3 span{
        width: 8.959vw;
        margin-top: 8px;
    }
    .section1_card3 button{
        width: 12.267vw;
        margin-top:0 ;
    }
    .section_two{
        overflow: hidden;
    }
    
    .section2 h2{
        margin-bottom: 49px;
    }
    .section2_image{
        display: flex;
        flex-direction: column;
        overflow: visible;
        
    }
    .section2_image .image img{
      border: none;
        border: 27px solid black;
        width: 266%;
        height: 476px;
        margin: 15px;
        overflow: visible;
     
    }
    .section_container{
        display: flex;
        width: 100%;

    }
    .list{
        width: 17.7vw;
        margin-top: -1.5px;
    }
    .list_item{
        margin-bottom: 12px;
    }
    .section2_link{
        margin-left: -6px;
    }
    .section2_link a{
        width: 15vw;
        text-align: left;
    }
    .section2_cards{
        column-gap: 30px;
        row-gap: 24px;
    }
    .section2_card{
        width: 10.365vw;
    }
    
    .card_container p{
        margin-bottom: 26px;
    }
    .section2_card:nth-child(5) p {
        margin-bottom: 42.1px;
    }
    .section2_image .link {
        display: none;
    }
    .logo_desktop{
        display: flex;
    }
    .logos{
        display: flex;
       justify-content: center;
       align-items: center;
    }
    .logos img{
        filter: grayscale(100%);
        width: 100%;
        height: 55px;
        
    }
    .logos .logo{
        margin: 12px 32px;
        max-width: 150px;
        height: 84px;
    }
    .section_content{
        position: relative;
    }
    .text{
        max-width: 553px;
    }
    .content{
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .text_container{
        background-color: rgba(26,26,31, .94);
        padding: 24px;
        position: absolute;
        bottom: 77px;
        border: 1px solid transparent;
        border-radius: 6px;
        width: 42%;
        left: 15px;
        
    }
    .text p{
        color: #fff;
        max-width: 575px;
    }
    .text_container a{
        color: #fff;
        text-decoration: underline;
        text-decoration-color: #b8b9ba;
    }
    .section_image_desktop{
        min-height: 600px;
        object-fit: cover;
    }
    .dot{
        display: none;
    }
    .section_five_cards{
        grid-template-columns: repeat(4,1fr);
    }
    .section_five_card:nth-child(3){
        grid-column: 3/5;
        background-position-x: center;
        background-size: cover; 
    }
    .section_five_card:nth-child(5){
        grid-column: 2/4;
        
    }
    .section_five_card:nth-child(3) p{
        font-size: 24px;
        padding: 125px 18px 24px 18px;
    }
    .section_five_card:nth-child(5) p{
        font-size: 24px;
        padding: 125px 14px 24px 14px;
    }
    .section_five_card img{
        height: 10.938vw;
        max-height: 147.75px;
    }
    .section_five{
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_six{
        position: relative;
    }
    .play_button{
        display: none;
    }
    .section_six img{
       min-height: 600px;
       max-height: 700PX;
       width: 100%;
    }
    .section_six_container{
        position: absolute;
        top: 60px;
        left: 15px;
        background-color: rgba(26,26,31,.94);
        width: 50.209vw;
        border-radius: 6px;
        max-width: 686.16px;
    }
    .section_six_container p{
        font-family: Segoe-UI;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
    }
    .section_six_container .button{
        display: none;
    }
    .vedio_link{
        display: flex;
        align-items: center;
        
    }
    .vedio_link .button{
        display: flex;
    }
    .vedio_link .button{
        background-color: #0078d4;
        margin-top: 0;
        width: 192.33px;
    }
    .vedio_link .button a{
        font-family: Segoe-UI;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        margin-left: 10px;

    }
    .vedio_link .button span{
        font-size: 12px;
        border-radius: 50px;
        background-color: #50e6ff;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .more_story a{
        font-family: Segoe-UI;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        margin-left: 15px;
        text-decoration-color: #b8b9ba;
    }
    .section_seven{
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_seven_card{
        max-width: 356.67px;
    }
    .section_seven_cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
    }

  
} 
@media screen and (min-width: 961px ) {

    .azure_invent{
        background-image: url(asset/background2.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        width:100%;
        
    }
    .section2_image .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin-left: 24px;

    }
    .arrow2 img {
        background: none;
        width: 24px;
        height: 24px;
        border: none;
        transform: rotate(180deg);
        margin-right: 5px;
        
    }
    .section2_image .link a{
        text-decoration: none;
        color: #0062ad;
        font-family: Segoe-UI;
        font-size: 14px;
        font-weight: 400;
    }
    .footer{
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_nav_two{
        display: none;
    }
    .footer_nav_two_desktop{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 24px;
        padding: 0 18px;
        margin-top: 36px;
        
    }
    .nav_two{
        display: flex;
        flex-direction: column;
        
    }
    .nav_two_list{
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        row-gap: 12px;
    }
    .nav_two_list a{
        font-family: Segoe-UI;
        font-size: 12px;
        font-weight: 400;
        color: #1A1A1F;
        text-decoration: none;
        padding: 2px 0;
        line-height: 1.5;
    }
    .nav_two h3{
        font-family: Segoe-UI;
        font-size: 14px;
        font-weight: 600;
        color: #1A1A1F;
        margin: 0;
        
    }
    .footer_nav_three{
        flex-direction: row;
        column-gap: 114px;
    }
}

@media screen  and (min-width: 1024px){
    .section1 h2{
        padding-left: 16px;
        line-height: 1.22;
    }
    .section1_cards{
        margin-top: 35px;
    }
    .section1_card1{
        width: 46.875vw;
        height: 31.25vw;
    }
    .card1_content p{
        margin-bottom: 10px;
    }
    .card2_child1{
        width: 46.875vw;
        height: 14.258vw;
     
    }
    .child1_content a{
        margin-left: -24.3px;
    }
    .child1_content p{
        width: 27vw;
    }
    .card2_child2{
        width: 46.875vw;
        height: 19.142vw;
    }
    .card2_child1 .image {
        background-position-X: 0pc;
        background-size: 100% 100%;
        height: 146px;
    }
    .card2_child2 .image {
        background-position-x: -1.2pc;
        background-size: 133% 100%;
    }
    .child2_content a{
        width: 28vw;
    }
    .child2_content p{
        width: 28vw
    }
    .section1_card3{
        margin-top: 49px;
    }
    .section1_card3 span{
        width: 9.48vw;
    }
    .section1_card3 button{
        width: 12.526vw;
    }
}
@media screen and (min-width:1080px ) {

    .header{
        display: none;
    }
    .header2{
        display: flex;
        justify-content: space-between;
        height: 54px;
        max-width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .azure a{
        margin-left: 24px;
    }
    .nav_explore{
        margin-left: 25px;
    }
    .header_container2{
        display: flex;
    }
    .header_search{
        display: flex;
        align-items: center;
        border: 1px solid #747479;
        border-radius: 4px;
        background-color: #f8f9fa;
        width:105px;
        height: 27px;
        padding-right: 13px;
        margin: -1px 12px 0px -1px;
    }
    .header_search input{
        font-family: Segoe-UI;
        font-weight: 400;
        font-size: 13px;
        color: #4c4c51;
        border: none;
        padding-left: 12px;
        width:88px;
        background: none;
        padding-bottom: 5px;
        
    }
    .search_icon{
        padding-top: 0;
    }
    .container_list{
        padding: 8px;
    }
    .container_list a{
        text-decoration: none;
        font-family: Segoe-UI;
        font-size: 13px;
        color: #1A1A1F;
        padding: 8px 0px;
    }
    .container_list a:nth-child(4){
        font-size: 12px;
        font-weight: 600;
        background-color: #89c402;
        border: 1px solid #6f9e02;
        padding: 7px 9px 7px 9px;
        text-align: center;
        border-radius: 4px;
        margin: 0px 6px;
       
    }
}
@media screen and (min-width: 1264px){
    .section1_card1{
        height: 270px;
    }
    .card2_child1{
        height: 148px;
    }
    .card2_child2{
        height: 148px;
    }
     .child1_content p{
        width: 316px;
    }
    .child1_content a{
        margin-left: -49.3px;
    }
    .child2_content p{
        width: 408px;
    }
    .child2_content a{
        margin-left: -18px;
    } 
}
@media screen and (min-width: 1280px){
    .azure_invent{
        height: 643.95px;
    }
}
@media screen and (min-width: 1310px) {
    .section2{
        width: 1310px;
        margin-left: auto;
        margin-right: auto;
    }
    .section2_card{
        width: 167.13px;
    }
    .list{
        width: 235.13px;
    }
    
    .section2_link a {
        width: 161px;
        margin-left: -50px;
    }
}

    
  