@font-face {
    font-family: 'roboto';
    src: url(font/roboto-regular.woff2);
}
@font-face {
    font-family: 'roboto-medium';
    src: url(font/roboto-medium-webfont.woff2);
}
body{
    
    margin:0;
    padding: 0;
}
header{
    font-family: 'roboto';
    height: 52px;
    background: rgba(40, 116, 240);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header_content_one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    padding-top: 6px;
}
.logo img{
    width: 23px;
    height: 23px;
}
.content_one_text{
    white-space: nowrap;
    overflow: hidden;
    width: 25vw;
    /* margin-bottom: 3px; */
}
.content_one_text a{
    font-size: 16px;
    font-weight: 400;
    color: #fff ;
    text-decoration: none;
    padding-left: 12px;
}
.back_arrow{
    width: 42px;
    text-align: center;
    padding-top: 3px;
  
}
.header_content_two{
    display: flex;
    align-items: center;
   
    margin-right: 26px;
}
.search_icon{
    padding-top: 4px;
}

.bag{
    padding-left: 23px;
    padding-top: 4px;
}
.content_two_text{
    padding-left: 38px;
    padding-bottom: 2px;
}
.content_two_text a{
    text-decoration: none;
    font-size: 16px;
    color: #efefef;
   
}
.sort_and_filter{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: white;
}
.sort{
    display: flex;
    flex: 1 1 0%;
    justify-content: center;
    padding-top: 5px;
}
.line{
    width: 1px;
    height: 48px;
    background: #ebebeb;
}
.sort img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
.sort_text{
    margin-top: 2px;
}
.sort_text a{
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    text-decoration: none;
}
.nav_cards{
    display: flex;
    padding: 0 11px;
    overflow: scroll; 
}
.nav_cards::-webkit-scrollbar{
    display: none;
}
.nav_card{
    display: flex;
    gap: 4px;
    margin:8px 4px 0;
    padding: 0px 8px 0px 4px;
    border: 1px solid rgb(219,219,219);
    border-radius: 4px;
    height: fit-content;
}
.nav_card:nth-child(2){
    background-color: #f5f7fa;
    gap: 3.5px;
}
.nav_card:nth-child(3){
    background-color: #f5f7fa;
    gap: 4.5px;
}
.nav_card:last-child{
    gap: 3.9px;
}
.nav_card_image{
    margin-right: 4px;
    height: 38px;
}
.nav_card_image img{
    width: 32px;
    height: 32px; 
    padding-top: 3px;
}
.nav_card_text{
    line-height: 16.5px;
    padding-top: 3px;
}
.nav_card_text span{
    font-family: 'roboto';
    font-size: 12px;
    
    color: #212121;
     white-space: nowrap; 
}
.nav_card:nth-child(2) span,
 .nav_card:nth-child(3) span{
    color: #717478;
    padding-right: 3px;
    
}
.nav_card:last-child span{
    padding-right: 3px;
}
.border_image{
    margin-top: -1px;
    position: sticky;
    top: 38px;
}
.border_image img{
    width: 100%;
    height: 4px;
    opacity: 1;
}

.card{
    position: relative;
    border-bottom: 1px solid #ebebeb;
    margin-top: 9px;
}
.card:first-child{
    margin-top: 0;
}
.item{
    padding: 12px 0px 12px 5px;
    display: flex;
}
.item_image{
    padding-top: 9px;
}
.item_image img{
    width: 96px;
    height: 114px;
}
.card:nth-child(2) .item_image{
    padding-top: 10px;
}
.card:nth-child(2) .item_image img{
    height: 112px;
}
.card:nth-child(4) .item_image{
    padding-top: 8px;
}
.card:last-child .item_image{
    padding-top: 20px;
}
.card:last-child .item_image img{
    height: 88px;
}
.item_details{
    display: flex;
    flex-direction: column;
    margin: 2px 0px 6px;
    padding: 0px 20px 0px 12px;
}
.item_name{
    width: 50.94vw;
    line-height: 15.9px;
}
.item_name span{
    font-family: 'roboto';
    font-size: 14px;
    color: #212121;
   
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 6px;
}
.star button{
    display: flex;
    align-items: center;
    background: #008c00;
    border: none;
    border-radius: 4px;
    height: 21px;
    width: 38.88px;
}
.star button a{
    font-family:  Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    padding: 2px 0;
    font-weight: 500;
}
.star button span{
    font-size: 11px;
    color: #fff;
    margin-left: 2px;
}
.number span{
    font-family: 'roboto';
    font-size: 12px;
    margin-left: 5px;
    padding: 0px 0px 2px;
    color: #878787;
}
.flipkart_plus img{
    width: 55.02px;
    height: 13px;
    padding-top: 3px;
    padding-left: 1px;
}
.price{
    display: flex;
    align-items: center;
}
.old_price span{
    font-size: 12px;
    color: #878787;
    text-decoration: line-through;
    
}
.new_price span{
    font-size: 16px;
    margin-left: 7px;
}
.card:nth-child(2) .new_price span{
    margin-left: 0;
}
.price .offer{
    margin-left: 4px;
}
.delivery{
    margin-top: 2px;
    margin-bottom: 2px;
}
.delivery span{
    font-family: 'roboto';
    font-size: 12px;
}
.offer span{
    font-size: 12px;
    color: #26a541;
}
.details{
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;
}
.details_text{
    border: 1px solid rgba(240,240,240,1);
    margin: 0px 0px 10px 10px;
    height: 22px;
    display: flex;
    align-items: center;
}
.details_text span{
    font-size: 12px;
    color: rgba(135,135,135,1.00);
    padding: 0 8px;
    margin-top: 1px;
}
.like_button img{
    width: 18px;
    height: 16px;
    text-align: center;
}
.like_button{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 16%);
    border-radius: 20px;
    height: 35px;
    width: 36px;
    position: absolute;
    top: 0;
    right: 8px;
}
.card:first-child .like_button span{
    height: 16px;
}
.card .like_button span{
    height: 14px;
}
.card_limited{
    padding: 8px 0px 9px 0px;
    background: #f0f0f0;
}
.card_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 11px 16px;
    background: #fff;
}
.card_body{
    display: flex;
    align-items: center;
}
.card_limited img{
    width: 70px;
    height: 70px;
}
.card_text{
    padding: 0 20px 4px 18px;
}
.card_text span{
    color: #212121;
    font-size: 16px;
}
.card_text p{
    font-family: 'roboto';
    font-size: 12px;
    color: #878787;
    margin: 0;
    margin-top: 2px;
}
.arrow{
    width: 7px;
    padding-bottom: 2px;
}
.arrow img{
    width: 6px;
    height: 10px;
}
.desktop_view{
    display: none;
}

@media screen and (min-width: 911px) {
    .mobile_view{
        display: none;
    }
    .desktop_view{
        display: flex;
    }
    header{
        height: 52px;
        width: 100%;
    }
    .blank{
        min-width: 124px;
    }
    .header{
        overflow: hidden;
        width: 100%;
        display: flex;
        /* height: 56px; */
    }
    .header_container{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1248px;
        margin: 0 auto;
        width: 100%;
    }
    .logo_container{
        min-width: 125px;
        display: flex;
        justify-content: flex-end;
    }
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        
    }
    .flipkart_text_one img{
        width: 70px;
        height: 18.07px;
    } 
    .flipkart_text_two{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10px;
    }
    .explore span, 
    .plus_text span{
        font-size: 10px;
        letter-spacing: 0;
        font-style: italic;
    }
    .explore span{
        font-weight: 400;
        color: #fff;
        margin-right: 3px;
        margin-left: -6px;
    }
    .plus_logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .plus_text span{
        font-weight: 500;
        color: #ffe500;
        margin-right: 2px;
    }
    .plus_logo img{
        width: 9px;
        height: 9px;
        margin-top: 2px;
    }
    .search_bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 11px;
        border-radius: 2px;
        background-color: #fff;
        width: 100%;
        max-width: 564px;
        margin-right: auto;
        
        
    }
    .search_bar input{
        font-family: 'roboto';
        padding: 0 16px;
        border: none;
        font-size: 13px;
        height: 34px;
        width: 100%;
        min-width: 198px;
        background: none;
        border-radius: 2px;
    }
    .icon{
        padding: 4px 12px 0 22px;
    }
    .icon svg{
        width: 19px;
        height: 19px;
    }
    .log_in{
        background: #fff;
        padding: 4px 40px 3px 40px;
        border: 1px solid #dbdbdb;
        margin: 0 20px 2px 20px;
        border-radius: 2px;
    }
    .log_in span{
        font-family: 'roboto-medium';
        font-size: 14px;
        letter-spacing: .5px;
        line-height: 20px;
        color: #2874f0;
        font-weight: 500;
    }
    .header_text{
        margin:  0 20px;
        margin-bottom: 2px;
    }
    .header_text span,
    .more_text span,
    .cart_text span{
        font-family: 'roboto-medium';
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        letter-spacing: .1px;
        white-space: nowrap;
    }
    .more,
    .cart{
        display: flex;
        align-items: center;
        margin: 0 20px;
    }
    .more{
        margin-bottom: 2px;
    }
    .drop_down{
        transform: rotate(-90deg);
        margin: 4px 0 0 8px;
    }
    .bag{
        margin: 0 8px;
    }
    nav{
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
        width: 100%;
    }
    .nav_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1248px;
        margin-inline: auto;
        padding: 0 1px;
        height: 39px;
        margin-top: -2px;
        
    }
    .category{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .category span{
        font-family: 'roboto-medium';
        font-size: 13px;
        letter-spacing: .01px;
    }
    .arrow_down svg{
       width: 7px;
       height: 7px;
       transform: rotate(270deg);
       margin-left: 6px;
    }
}

@media screen and (min-width: 960px) {
    header{
        height: 55px;
    }
    .logo_container{
        min-width: 137px;
    }
    .flipkart_text_one img{
        width: 75px;
        height: 20.11px;
    }
    .explore span, 
    .plus_text span{
        font-size: 11px;
    }
    .plus_logo img{
        width: 10px;
        height: 10px;
    }
    
    .search_bar input{
        height: 35px;
       letter-spacing: .3px;

    }
    .icon svg{
        width: 19px;
        height: 19px;
        margin-top: 1px;
    }
    .log_in{
      
        padding-bottom: 4px;
    }
    .log_in span{
        font-size: 15px;
        letter-spacing: .5px;
    }
    .header_text span, 
    .more_text span,
     .cart_text span{
        font-size: 15.5px;

     }
     .header_text{
        margin-right: 20px;
        
     }
     .header_text,
     .more_text{
        margin-bottom: 3px;
     }
     .drop_down {
        margin-top: 1px;
     }
    
}

@media screen and (min-width: 1024px) {
    header{
        height: 56px;
    }
    .flipkart_text_one img{
        height: 20px;
    }
    .flipkart_text_two{
        margin-top: -9px;
    }
    .explore span{
        margin-left: -4px;
    }
    .plus_logo img{
        margin-top: 0;
    }
    .search_bar{
        height: 36px;
        margin-left: 12px;
        min-width: 304px;
    }
    .search_bar input{
        font-size: 14px;
        letter-spacing: 0;
        min-width: 216px;
    }
    .icon{
        padding-right: 13px;
        margin-left: -1px;
    }
    .icon svg{
        width: 20px;
        height: 20px;
      
    }
    .log_in{
        padding-top: 5px;
        padding-bottom: 4px;
       
    }
    .log_in span{
        font-size: 16px;
        letter-spacing: .1px;
    }
    .header_text{
        margin-bottom: 2px;
    }
    .more_text{
        margin-bottom: 0;
    }
    .header_text span,
    .more_text span,
    .cart_text span{
        font-size: 16px;
    
    }
    .more{
        margin-right: -2px;
    }
    .cart_text{
        margin-bottom: 2px;
    }
    .drop_down {
        margin-left: 7px;
        margin-top: 2px;
    }
    .nav_container{
        height: 40px;
        margin-top: 0;
    }
    .category span{
        font-size: 14px;
        letter-spacing: 0;
    }
    .arrow svg{
        margin-left: 3px;
    }
}
