body{
    margin: 0;
    padding: 0;
}
.banner img{
    width:100vw; 
    min-height: 420px; 
    position: relative; 
    transform: scaleX(2.7) ;
    
}
.main{
    position: absolute;
    top: 0; 
    padding: 10px 0px;
}
.sign {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end; 
    flex: 1 1 1 0%;
    /* padding-right: 24px; */
    align-items: center;
    
    
}
.sign span{
    padding: 0 16px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-weight: 700;
    color: #fff;

}
.sign a{
    padding: 0 16px;
    text-decoration: none;
    font-size: 16px;
    color:#000;
    
    display: inline-flex;
    max-width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 1000px;
    background: #fff;
    border-width: 1000px;
    box-shadow: transparent 0px 0px 0px 1px inset;
    text-align: center;
    align-items: center;
}
.inline{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
   
}
.inline span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    max-width: 334px;
    color: #fff;
    display: block;
    letter-spacing: -0.04ch;
    font-weight: 700;
    padding-top:30px;
    padding-bottom: 30px;
    

}
.search{
     padding: 0 20px; 
    max-width: 315px;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;

}
.searchs{
    padding: 8px 4px 4px 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-weight: 500;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    border: none;
    background-color: #fff;

}
.searchicon{
    margin-right: 8px;
    max-width: 100%;
}
input{
    padding: 0;
    font-size: 16px;
    border: none;

}
.search a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 16px;
    color: #fff;
    
}
.app{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.04ch;
    line-height: 22px;
    padding: 30px 0;
}
.get{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 4px;
    margin-left: 10px;
    

}

  .app button{
    position: relative;
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: rgb(235, 23, 0);
    height: 40px;
    justify-content: center;
    margin-right: 54px;
    width: 122px;

}
.children{
    
    display: flex;
    max-width: 100%;
    gap: 10px;
    padding-left: 14px;
}
