@font-face{
    font-family: DD-TTNorms;
    src:url(font/TTNorms-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: DD-TTNorms;
    src: url(font/TTNorms-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: DD-TTNorms;
    src: url(font/TTNorms-Bold.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: DD-TTNorms;
    src: url(font/TTNorms-ExtraBold.woff2);
    font-weight: 700;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: DD-TTNorms;
    
}
*, ::after, ::before{
    box-sizing: border-box;
}

.banner{
    background-image: url(img/banner.avif);
    background-repeat:no-repeat ;
    background-size: cover;
    height: 450px;
    width: 100vw;
    /* padding: 0; */
    background-position-x: center;
    
}
.main{
    padding: 10px 0px;
}
.sign {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end; 
    align-items: center;  
    padding-right: 20px;
    margin-top: 2px;
    cursor: pointer;

    
}
.sign span{
    padding: 0 8px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.04ch;
}
.sign a{
    padding: 0 16px;
    text-decoration: none;
    font-size: 16px;
    color:#000;
    display: inline-flex;
    font-weight: 600;
    max-width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 100px;
    background: #fff;
    border-width: 100px;
    text-align: center;
    align-items: center;
    letter-spacing: 0ch;
}
.inline{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
   
}
.inline span{
    
    font-size: 32px;
    max-width: 334px;
    color: #fff;
    display: block;
    letter-spacing: -0.04ch;
    font-weight: 600;
    padding-top:18px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 40px;
    

}
.icon{
    display: none;
}
.search{
     /* padding: 0 20px;  */
    /* max-width: 315px; */
    /* position: relative; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.searchs{
    padding: 12px 4px 7px 6px;
    font-size:16px;
    line-height: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 275px; */
    max-width: 315px;
    height: 48px;
    border-radius: 20px;
    box-shadow: rgb(214 214 214) 0px 0px 0px 1px inset;
    border: none;
    background-color: #fff;
}
.searchicon{
    margin-right: 8px;
    max-width: 100%;
}
.location{
    display: none;
}
input{
    border: none;
    width: 100%;
    font-size: 16px;
}
input::placeholder{
    font-family: DD-TTNorms;
    font-weight: 500;
    text-align: left;
}
.search a{
    font-size: 16px;
    margin: 16px;
    font-weight: 500;
    color: #fff; 
}
.arrow{
    cursor: pointer;
}
.app{
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.04ch;
    line-height: 22px;
    padding: 24px 0;
    /* max-width: 324px;   */
    margin: 0px 16px;
}
.get{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 4px;
}
.get span{
    display: block;
    margin: 0;
    padding: 0;
    width: 139px;
    height: 56px;
    
}
  .app button{
    position: relative;
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: rgb(235, 23, 0);
    height: 40px;
    width: 120.56px;

}
.children{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 15px;
    cursor: pointer;

}
.dasher{
    display: flex;
    width: 100%;
    /* min-width: 360px; */
    flex-flow: nowrap;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
    
}
.dasher img{
    width: 88px;
    height: 88px;
    margin-right: 26px;
}
.dashercontent{
    display: flex;
    flex-flow: column;
    width: 100%;
    width: 208px;
}
.dasher h2{
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    display: block;
    font-weight: 600;
    margin: 0;
    padding: 0;
    
  
}
.dasher p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0ch;
    text-align: left;
    line-height: 24px; 
    display: block;
    margin-top: 0;
    margin-left: 0;
    /* width: 64vw; */
}
.dasher a{
    font: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.04ch;
    color: rgb(235, 23, 0);
    text-decoration: none;
    
}
.dasher button{
    border: 0;
    display: flex;
    cursor: pointer;
    background: none;
    text-align: center;
    background-color: transparent;
    align-items: center;
    padding: 1px 6px;
    margin-left: -3px;
}
.dasher svg{
    width: 12px;
    height: 10px;
}
.middle{
    display: block;
    max-width: 768px;
}
.aa{
    background: rgb(255, 240, 237);
    width: 100%;   
    margin-top:100px;
   
}
.allin{
    position: relative;
    padding-left: 16px;
    padding-right: 81.6px;
    margin-left: auto ;
    margin-right: auto;
}
.allin img{
    position: absolute;
    width: 256px;
    height: 184.5px;
    margin-left: 48px;
    margin-top: -90px;

}
.content1{
    margin: 20px 0px 0px;
    position: relative; 
     top: 120px;
}
.content1 span{
    display: block;
    /* position: relative; */
    width: 76vw;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600; 
    letter-spacing: -0.04ch;  
}
.content1 p{
     display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    width: 66vw;
    
}
.content1 button{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    position: relative;
    background-color: rgb(235, 23, 0);
    border-radius: 100px;
    border: none;
    min-height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 105px;

}
.welcome{
    margin-top: 160px;
}
.welcome img{
    width: 256px;
    height: 185px;
}
.content2{
    margin: 20px 0px 0px;
    padding: 0px 105.6px 97px 16px;
}
.content2 span{
    display: block;
    width: 70vw;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600; 
    letter-spacing: -0.04ch;
}  
.content2 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    width: 63vw;
}
.content2 button{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    background-color: rgb(235, 23, 0);
    border-radius: 100px;
    border: none;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    text-decoration: none;
    cursor: pointer;
    color: #fff; 
 
}
footer{
    background: rgb(25, 25, 25);
    background-size: cover;
  
  
}
.place{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    column-gap: 25px;
    
}
.place a:hover{
    text-decoration: underline;
    color: #fff;
}
.cities{

    padding: 32px 0px;
}
.cities h2{
    font-size: 16px ;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 22px;
}
.city{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.cities a{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196); 
    text-align: center;  
    letter-spacing: 0ch;
    cursor: pointer;
}
.cuisines{
    
    padding: 32px 0px;
    margin-top: -133px; 
}
.cuisine{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.cuisines h2{
    font-size: 16px ;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.cuisines a{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196);
    text-align: center;
    width: 45vw;
    letter-spacing: 0ch; 
    cursor: pointer;
}
.download{
    padding: 32px 0px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    row-gap: 10px;
}
.appstore{
   
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    padding: 0px 8px;
}
.download svg:hover{
    cursor: pointer;
    fill: #fff;

}
.knowus{
    padding: 32px 0px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.knowus h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(255, 255, 255);
}
.knowus a{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196);
}
.knowus a:hover{
    cursor: pointer;
    text-decoration:underline;
    color: #fff;
}
.help{
    padding: 32px 0px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.help h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(255, 255, 255);
}
.help a{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196); 
}
.help a:hover{
    cursor: pointer;
    text-decoration:underline;
    color: #fff;
}
.business{
    padding: 32px 0px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.business h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(255, 255, 255);
}
.business a{
   
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196);
}
.business a:hover{
    cursor: pointer;
    text-decoration:underline;
    color: #fff;
}
.media{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    gap: 15px;
    cursor: pointer;

}
.bottom{
    padding-bottom: 32px;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 1.5px; 
    cursor: pointer;
}
.bottom a{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgb(196, 196, 196);
}
.img{
    width:32px;
    height: 18px;
}
.bottom span{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgb(196, 196, 196);
    bottom: 0;
    margin-left: 16px;
}
.bottom a:hover{
    text-decoration: underline;
    color: #fff;
}


@media screen and (min-width: 375px) {

    .banner{
        width: 100vw;
        height: 450px; 
    }
    .sign{
        padding-right: 24px;
    }
    .sign a{
        padding: 0 16px;
    }
    .children{
        margin-left: -20px;
        

    }
    .get span{
        width: 160px;
        height: 44px;
        margin-left: -20px; 
    }
    .allin img{
        position: absolute;
        height: 224px;
        width: 311px; 
    }
    .content1{
        top: 155px;
    }
    .content1 p{
        width: 74vw;
    }
    .welcome{
        margin-top: 200px;
    }
    .welcome img{
        width: 330px;
        height: 223px;
    }
    .content2 p{
        width: 64vw;
    }
   
    .appstore{
        padding: 0 10px;
    }
    .cuisines{
        margin-top: -205px;
    }
}
@media screen and (min-width: 425px) {
 
    .banner{
        width: 100vw;
        height: 450px;
    }
    .sign{
        padding-right: 16px;
    }
    .searchs svg{
        width: 24px;
        height: 24px;
    }
    .children{
        margin-left: -35px;
    }
    .dasher h2{
        width: 258px;
    }
    .dasher p{
        width: 250px;
    }

    .allin img{
        width: 361px;
        height: 260px;
        margin-top: -55px;
    }
    .content1{
        margin-left: 15px;
        top: 228px;
    }
    .welcome{
        margin-top: 270px;
    }
    .welcome img{
        width: 361px; 
        height: 260px;
    }
    .content2{
        margin-left: 15px;
    }
    .content2 p{
        width: 66vw;
    }
    .place{
        margin-top: 0px;
        
    }
} 

@media screen and (min-width: 768px){
    .banner{
        width: 100vw;
        height: 450px;
    }
    .searchicon{
        display: none;

    }
    .location{
        display: flex;
        height: 30px;
        width: 30px;
    }
    input{
        width: 45vw;
        padding-left: 10px;
    }
    .children{

        margin-left: -14px;
    }
    .dasher img{
        width: 124px;
        height: 124px;
    }
    .middle{
       margin-left: 200px;
    }
      .aa{
        background: none;
    
    }
    .allin{
        margin-top: -60px;
    }
      .allin img{
        width: 426px;
        height:307px;
        margin-top: 0px;
        left: 294px;
        
    }
    .content1 {
        top: 10px;
        left: 30px;
        
    }
    .content1 span{
        width: 23vw;
    }
    .content1 p{
        width: 26vw;
    }
    .welcome{
        margin-top: 88px;
        background: rgb(255, 240, 237);
        height: 525px;
        padding-top: 94px;
        
        
    }
    .welcome img{
        width: 426px;
        height: 307px;
    }
    .content2{
        margin-top:  -310px;
        margin-left: 470px;
        right: 0;   
    }
    .content2 span{
        width: 18vw;
    }
    .content2 p{
        width: 27vw;
    }
    .place{
        display: flex;
        flex-flow: column;
    }
    .city {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        column-gap: 150px;
        margin-left: -121px;
        row-gap: 6px;
    } 
    .cities a{
          text-align: left; 
    }
    .cities h2{
        margin-left: -654px;
    }
    .cuisines{
        margin-top: 8px;
    }
    .cuisines h2{
        margin-left: -566px;
    }
    .cuisine{
        display: grid ;
        grid-template-columns: 1fr 1fr;
        row-gap: 6px ;
        margin-left: -36px;
    }
    .cuisines a{
        text-align: left;
    }

    .download{
        padding-top: 50px;
    }
    .about{
        display: flex;
        flex-flow: row;
        justify-content: center;
        column-gap: 170px;
    }
    .knowus{
        display: flex;
        align-items: flex-start;
        
    }
    .help{
        margin-bottom: 250px;
        display: flex;
        align-items: flex-start;
    }
    .business{
        display: flex;
        align-items: flex-start;
        margin-bottom: 225px;
        align-items: left;
    }
    .media{
        display: flex;
        justify-content: end;
        margin-bottom: -34px;
        margin-right: 20px;
    } 
    .bottom{
        margin-left: -185px;
    
    }
    .bottom a{
        margin-left: -5px;
    }
    .bottom span{
        margin-left: 0;
    }

}

@media screen and (min-width: 960px) {

    .banner{
        height: 580px;
    }
    .inline svg{
        display: none;
    }
    .icon svg{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .icon{
        display: flex;
        padding-right: 170px;
        position: relative;
        top: 80px;
    }
    .icon span{
        padding-top: 5px;
    }
    .inline span{
        font-size: 64px;
        max-width: 458px;
        line-height: 76px;
        padding-top: 50px;
    }
    .arrow{
        display: flex;
        width: 30px;
        height: 30px;;  
    }
    .middle{
        padding-left: 75px;
    }
    .allin img{
        width: 554px;
        height: 400px;
        left: 358px;
    }
    .allin span{
        width: 147px;
    }
    .allin p{
        width: 28vw;
    }
    .content1{
        top: 70px;
    }
    .content1 button{
        font-size: 16px;
        width: 120px;
        height: 40px;
    }
    .welcome{
        margin-top: 170px;
        padding-top: 110px;
        height: 644.81px;
    }
    .welcome img{
        width: 554px;
        height: 399px;
    }
    .content2{
        margin-left: 645px;
        margin-top: -341px;
    }
    .content2 span{
        width: 25vw;
    }
    .content2 p{
        width: 28vw;
    }
    .content2 button{
        font-size: 16px;
        width: 152px;
        height: 40px;
    }
    .place{
        margin-left: 20px;
    }
    .city{
        column-gap: 10px;
        margin-left: -475px;
    }
    .cities h2{
    
        margin-left: -878px;
    }
     .cuisines h2{
        display: flex;
        margin-left: -36px; 
    } 
    .cuisine :nth-child(even){
        margin-left:  -230px ;
        width: 146px;
    }
    .cuisines{
        display: grid;
        margin-left: 150px;
        margin-top: -354px;
        width: 100px;
    }
    .download{
        display: flex;
        align-items: flex-end;
        margin-right: 20px;
    }
    .about{
        position: relative;
        left: -100px;
        top: -159px;
    }

    .help{
        position: relative;
        left: -128px;;
    }
    .business{
        position: relative;
        left: -252px;
    }
    .media{
        margin-right: 20px;
    }
    .bottom{
        margin-left: -379px;
    
    }
    
} 
@media screen and (min-width: 1024px) {
    .icon{
        padding-right: 200px;
    }
    .middle{
        padding-left: 106px;;
    }
    .allin img{
        width: 597px;
        height: 430px;
        left: 379px;
    }
    .welcome img{
        width: 597px;
        height: 430px;
    }
    .welcome{
        padding-top: 142px;
        height: 676px;
    }
    .place{
        margin-left: -34px;
    }
    .about{
        left: -128px;
    }

}

@media screen and (min-width: 1184px) {

    .banner{
        height: 580px;
        margin: 0;
    }
    .sign span{
        padding-top: -10px;
    }
    .searchs{
        
    }
   .arrow svg{
    width: 30px;
    height: 35px;
   }
   .arrow{
    border-radius: 50%;
    width:80px;
    height: 40px;
    border: none;
    background: #eb1700;
    margin-bottom: 5px;
   }
   .icon{
    padding-right: 280px;
   }
   .dasher{

   display:block;
   text-align: center;

   }
     .middle{
    display: flex;
    flex-flow: row;
    padding: 0;
    margin: 0;
     }
    .allin{
        margin-top: 10px;
        
    }
    .allin img{
        width: 712px;
        height: 513px;
        left: -30px;

    }
    .allin span{
        font-size: 40px;
        width: 245px;
    }
    .content1 p{
        font-size: 18px;
        width: 30vw;
    }
    .content1 button{
        font-size: 16px;;
    }
    .welcome{
        padding-bottom: 166px;
        margin-top: -253px;
        
    }
    .welcome img{
        width: 712px;
        height: 513px;
        margin-left: 125px;
    }
    .content2{
        padding-left:250px;
    }
    .content2 span{
        font-size: 40px;
        width:30vw;
    }
    .content2 p{
        font-size: 18px;
    
    }
    .content2 button{
        font-size: 16px;
        width: 138px;
    }
    .place{
        margin-left: -165px;
    }
    .cities h2{
        margin-left: -908px;
    }
    .cuisines h2{
        margin-left: -515px;
    }
    .city {
        column-gap: 100px;
        
    }
    .cuisines{
        margin-left: 345px;
    }
    .cuisine a:nth-child(even){
        margin-left: -380px;
    }
    .download{
        margin-right: 130px;
    }
    .about{
        margin-left: -342px;
        column-gap: 215px;
    }
    .media{
        margin-right: 135px;
    }
    .bottom{
        margin-left: -573px;
    }
    footer{
        width:97vw;
    }
}