@font-face{
    font-family: DD-TTNorms;
    src:url(font/TTNorms-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: DD-TTNorms;
    src: url(font/TTNorms-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: DD-TTNorms;
    src: url(font/TTNorms-Bold.woff2);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: DD-TTNorms;
    src: url(font/TTNorms-ExtraBold.woff2);
    font-weight: 700;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    font-family: DD-TTNorms;
    
}
*, ::after, ::before{
    box-sizing: border-box;
}

.banner{
    background-image: url(img/banner.avif);
    background-repeat:no-repeat ;
    background-size: cover;
    height: 450px;
    width: 100vw;
    background-position-x: center;
    
}
.main{
    padding: 10px 0px;
}
.sign {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end; 
    align-items: center;  
    padding-right: 20px;
    margin-top: 2px;
    cursor: pointer;

    
}
.sign span{
    padding: 0 8px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: -0.04ch;
}
.sign a{
    padding: 0 16px;
    text-decoration: none;
    font-size: 16px;
    color:#000;
    display: inline-flex;
    font-weight: 600;
    max-width: 100%;
    min-height: 40px;
    border: none;
    border-radius: 100px;
    background: #fff;
    border-width: 100px;
    text-align: center;
    align-items: center;
    letter-spacing: 0ch;
}
.inline{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
   
}
.inline span{
    
    font-size: 32px;
    max-width: 334px;
    color: #fff;
    display: block;
    letter-spacing: -0.04ch;
    font-weight: 600;
    padding-top:18px;
    padding-bottom: 30px;
    text-align: center;
    line-height: 40px;
    

}
.icon{
    display: none;
}
.search{
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.searchs{
    padding: 12px 4px 7px 6px;
    font-size:16px;
    line-height: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 315px;
    height: 48px;
    border-radius: 30px;
    box-shadow: rgb(214 214 214) 0px 0px 0px 1px inset;
    border: none;
    background-color: #fff;
}
.searchicon{
    margin-right: 8px;
    max-width: 100%;
}
.location{
    display: none;
}
.arrow svg{
    fill: #000;
}
input{
    border: none;
    width: 100%;
    font-size: 16px;
}
input::placeholder{
    font-family: DD-TTNorms;
    font-weight: 500;
    text-align: left;
    line-height: 22px;
}
.search a{
    font-size: 16px;
    margin: 16px;
    font-weight: 500;
    color: #fff; 
}
.arrow{
    cursor: pointer;
}
.app{
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.04ch;
    line-height: 22px;
    padding: 24px 0;
    margin: 0px 16px;
}
.get{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 4px;
}
.get span{
    display: block;
    margin: 0;
    padding: 0;
    width: 139px;
    height: 56px;
    
}
  .app button{
    position: relative;
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background: rgb(235, 23, 0);
    height: 40px;
    width: 120.56px;

}
.children{
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-top: 15px;
    cursor: pointer;

}
.dasher{
    display: flex;
    width: 100%;
    flex-flow: nowrap;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
    
}
.dasher img{
    width: 88px;
    height: 88px;
    margin-right: 26px;
}
.dashercontent{
    display: flex;
    flex-flow: column;
    width: 100%;
    width: 208px;
}
.dasher h2{
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    display: block;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.dasher p{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0ch;
    text-align: left;
    line-height: 24px; 
    display: block;
    margin-top: 0;
    margin-left: 0;
}
.dasher a{
    font: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.04ch;
    color: rgb(235, 23, 0);
    text-decoration: none;
    
}
.dasher button{
    border: 0;
    display: flex;
    cursor: pointer;
    background: none;
    text-align: center;
    background-color: transparent;
    align-items: center;
    padding: 1px 6px;
    margin-left: -3px;
}
.dasher svg{
    width: 12px;
    height: 10px;
}
.middle{
    display: block;
    max-width: 768px;
}
.aa{
    background: rgb(255, 240, 237);
    width: 100%;   
    margin-top:100px;
}
.allin{
    position: relative;
    padding-left: 16px;
    padding-right: 81.6px;
    margin-left: auto ;
    margin-right: auto;
}
.allin img{
    position: absolute;
    width: 256px;
    height: 184.5px;
    margin-left: 48px;
    margin-top: -90px;

}
.content1{
    margin: 20px 0px 0px;
    position: relative; 
     top: 120px;
}
.content1 span{
    display: block;
    width: 76vw;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600; 
    letter-spacing: -0.04ch;  
}
.content1 p{
     display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    width: 66vw;
    
}
.content1 button{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    position: relative;
    background-color: rgb(235, 23, 0);
    border-radius: 100px;
    border: none;
    min-height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 105px;

}
.welcome{
    margin-top: 160px;
}
.welcome img{
    width: 256px;
    height: 185px;
}
.content2{
    margin: 20px 0px 0px;
    padding: 0px 105.6px 97px 16px;
}
.content2 span{
    display: block;
    width: 70vw;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600; 
    letter-spacing: -0.04ch;
}  
.content2 p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: block;
    width: 63vw;
}
.content2 button{
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    background-color: rgb(235, 23, 0);
    border-radius: 100px;
    border: none;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    text-decoration: none;
    cursor: pointer;
    color: #fff; 
 
}
footer{
    background: rgb(25, 25, 25);
    /* max-width: 1160px; */
    padding: 0 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.place{
    display: flex;
    flex-flow: row;
    padding: 0px 20px;
    column-gap: 10px;
    
}
.place a:hover{
    text-decoration: underline;
    color: #fff;
}
.cities{
    padding: 32px 0px;
    
}
.cities:first-child{
    margin-bottom: 8px;
    
}
.citychild{
    display: flex;
    flex-direction: column;
}
.citychild a{
    text-align: center;
}
.cities h2{
    font-size: 16px ;
    font-weight: 500;
    color: #fff;
    line-height: 22px;
    text-align: center;
   
  
}
.cities a{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196); 
    letter-spacing: 0ch;
    cursor: pointer;
  
}
.cuisines{
    
    padding: 32px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 133px;
}
.cuisines h2{
    font-size: 16px ;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 140px;
    margin: 0 0 8px;
}

.cuisines a{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196);
    letter-spacing: 0ch; 
    cursor: pointer;
    text-align: center;
}
.cuisinechild{
    display: flex;
    flex-direction: column;
    
}
.download{
    padding: 32px 0px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    row-gap: 10px;
    cursor: pointer;
}
.appstore{
   
    border-radius: 8px;
    background-color: rgb(73, 73, 73);
    padding: 0px 8px;
}
.download svg:hover{
   
    fill: #fff;

}
.about:first-child{
    margin-bottom: 8px;
}
.knowus{
    padding: 32px 0px 0px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}
.knowus h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.knowus a{
    
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
    color: rgb(196, 196, 196);
    letter-spacing: 0ch;
    text-align: center;
}
.knowus a:hover{
    cursor: pointer;
    text-decoration:underline;
    color: #fff;
}
.media{
    display: flex;
    justify-content: center;
    padding-top: 32px;
    gap: 15px;
    cursor: pointer;

}
.media svg:hover{
    fill: #fff;
}
.bottom{
    padding-bottom: 32px;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 1.5px; 
    cursor: pointer;
}
.bottom a{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgb(196, 196, 196);
}
.img{
    width:32px;
    height: 18px;
}
.bottom span{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: rgb(196, 196, 196);
    bottom: 0;
    margin-left: 16px;
}
.bottom a:hover{
    text-decoration: underline;
    color: #fff;
}
.app button:hover{
    background-color: #da2008;
}
.aa button:hover{
    background-color: #da2008;
}


@media screen and (min-width: 375px) {

    .banner{
        width: 100vw;
        height: 450px; 
    }
    .sign{
        padding-right: 24px;
    }
    .sign a{
        padding: 0 16px;
    }
    .children{
        margin-left: -20px;
        

    }
    .get span{
        width: 160px;
        height: 44px;
        margin-left: -20px; 
    }
    .allin img{
        position: absolute;
        height: 224px;
        width: 311px; 
    }
    .content1{
        top: 155px;
    }
    .content1 p{
        width: 74vw;
    }
    .welcome{
        margin-top: 200px;
    }
    .welcome img{
        width: 330px;
        height: 223px;
    }
    .content2 p{
        width: 64vw;
    }
   
    .appstore{
        padding: 0 10px;
    }
    .cuisines{
        margin-bottom: 183px;
    }
}
@media screen and (min-width: 425px) {
 
    .banner{
        width: 100vw;
        height: 450px;
    }
    .sign{
        padding-right: 16px;
    }
    .searchs svg{
        width: 24px;
        height: 24px;
    }
    .children{
        margin-left: -35px;
    }
    .dasher h2{
        width: 258px;
    }
    .dasher p{
        width: 250px;
    }

    .allin img{
        width: 361px;
        height: 260px;
        margin-top: -55px;
    }
    .content1{
        margin-left: 15px;
        top: 228px;
    }
    .welcome{
        margin-top: 270px;
    }
    .welcome img{
        width: 361px; 
        height: 260px;
    }
    .content2{
        margin-left: 15px;
    }
    .content2 p{
        width: 66vw;
    }
    .place{
       column-gap: 70px;
    }
    .cuisines h2{
      width: 162px;
      margin-bottom: 15px;
    }
   .cuisines{
    margin-bottom: 198px;
    }
   
} 

@media screen and (min-width: 768px){
    .banner{
        width: 100vw;
        height: 450px;
    }
    .searchicon{
        display: none;

    }
    .location{
        display: flex;
        height: 30px;
        width: 30px;
    }
    input{
        width: 45vw;
        padding-left: 10px;
    }
    .children{

        margin-left: -15px;
    }
    .dasher img{
        width: 124px;
        height: 124px;
    }
    .middle{
       margin-left: 200px;
    }
      .aa{
        background: none;
    
    }
    .allin{
        margin-top: -60px;
    }
      .allin img{
        width: 426px;
        height:307px;
        margin-top: 0px;
        left: 294px;
    }
    .content1 {
        top: 10px;
        left: 30px;
        
    }
    .content1 span{
        width: 23vw;
    }
    .content1 p{
        width: 26vw;
    }
    .welcome{
        margin-top: 88px;
        background: rgb(255, 240, 237);
        height: 525px;
        padding-top: 94px;
    }
    .welcome img{
        width: 426px;
        height: 307px;
    }
    .content2{
        margin-top:  -310px;
        margin-left: 470px;
        right: 0;   
    }
    .content2 span{
        width: 18vw;
    }
    .content2 p{
        width: 27vw;
    }
    .place{
        flex-direction: column;
    }
    .cities{
        margin-left: -19px;
    }
    .cities h2{
        display: flex;
        justify-content: flex-start;
        
    }
    .city{
        display: flex;
        justify-content: space-between;
        margin-right: 150px;
    }
    .city a{
        text-align: left;
    }
    .cuisines{
        margin-bottom: 40px;
        margin-left: -19px;
    }
    .cuisine{
        display: flex;
        justify-content: space-between;
        margin-right: 255px;
    }
    .cuisine a{
        text-align: left;
    }
    .about{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }
    .knowus:nth-child(2){
        margin-bottom: 250px;
    }
    .knowus:last-child{
        margin-bottom: 227px;
    }
    .knowus a{
        text-align: left;
    }
    .knowus h2{
        text-align: left;
    }
    .media{
        display: flex;
        justify-content: end;
        margin-bottom: -34px;
    } 
   
    .bottom{
        margin-left: -185px;
    
    }
    .bottom a{
        margin-left: -5px;
    }
    .bottom span{
        margin-left: 0;
    }

}

@media screen and (min-width: 960px) {

    .banner{
        height: 580px;
    }
    .inline svg{
        display: none;
    }
    .icon svg{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .icon{
        display: flex;
        padding-right: 170px;
        position: relative;
        top: 80px;
    }
    .icon span{
        padding-top: 5px;
    }
    .inline span{
        font-size: 64px;
        max-width: 458px;
        line-height: 76px;
        padding-top: 50px;
    }
    .arrow{
        display: flex;
        width: 30px;
        height: 30px;;  
    }
    .middle{
        padding-left: 75px;
    }
    .allin img{
        width: 554px;
        height: 400px;
        left: 357px;
    }
    .allin span{
        width: 147px;
    }
    .allin p{
        width: 28vw;
    }
    .content1{
        top: 70px;
    }
    .content1 button{
        font-size: 16px;
        width: 120px;
        height: 40px;
    }
    .welcome{
        margin-top: 170px;
        padding-top: 110px;
        height: 644.81px;
    }
    .welcome img{
        width: 554px;
        height: 399px;
    }
    .content2{
        padding-left: 148px;
        margin-top: -341px;
    }
    .content2 span{
        width: 25vw;
    }
    .content2 p{
        width: 28vw;
    }
    .content2 button{
        font-size: 16px;
        width: 152px;
        height: 40px;
    }
    .place{
        flex-direction: row;
        column-gap: 70px;
    
    } 
    .cuisine{
        margin-right: 0px;
        column-gap:  70px;
      
    }
    .cuisines{
        margin-top: 0;
        padding-top: 47px;
    }
    .city{
        margin-right: 0;
        column-gap: 70px;
    }
    .us {
        display: flex;
        flex-flow: row-reverse;
    }
    .about{
        column-gap: 70px;
     
    }
    
    .download{
        padding-bottom: 230px;
        padding-left: 236px;
    }
    .bottom{
        margin-left: -379px;
    }
    
} 
@media screen and (min-width: 1024px) {
    .icon{
        padding-right: 200px;
    }
    .searchs{
        min-width: 30vw;
    }
    .middle{
        padding-left: 106px;;
    }
    .allin img{
        width: 597px;
        height: 430px;
        left: 378px;
    }
    .welcome img{
        width: 597px;
        height: 430px;
    }
    .welcome{
        padding-top: 142px;
        height: 676px;
    }
    .place{
        column-gap: 80px;
    }
    .cuisine{
        column-gap: 80px;
    }
    .city{
        column-gap: 80px;
    }
    .download{
        padding-left: 300px;
    }
    .us {
        margin-top: -50px;
    }
    .bottom{
        margin-left: -446px;
    }
    .media{
        margin-right: 0;
    }

}

@media screen and (min-width: 1184px) {

    .banner{
        height: 580px;
        margin: 0;
    }
    .sign span{
        padding-top: -10px;
    }
   .arrow svg{
         width: 30px;
         height: 35px;
         fill: #fff;
    }
   .arrow{
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 100%;
        width:50px;
        height: 40px;
        border: none;
        background: #eb1700;
        margin-bottom: 5px;
        
   }
   .icon{
       padding-right: 280px;
   }
   .dasher{
         display:block;
      padding-left: 160px;
   }
   .dasher h2{
       text-align: center;
   }
   .dasher p{
       text-align: center;
   }
   .dasher img{
       width: 154px;
       height: 154px;
   }
   .dashercontent{
       align-items: center;
       margin-left: -12px;
   }
   .dasher button{
       margin-left: -20px;
       font-size: 18px;
   }
     .middle{
       display: flex;
       flex-flow: row;
       padding: 0;
       margin: 0;
   }
    .allin{
        margin-top: 10px;
        
    }
    .allin img{
        width: 712px;
        height: 514px;
        left: 424px;

    }
    .allin span{
        font-size: 40px;
        width: 245px;
        line-height: 48px;
    }
    .content1{
        left:-25px;
        top: 100px;
    }
    .content1 p{
        font-size: 18px;
        width: 35vw;
    }
    .content1 button{
        font-size: 16px;
    }
    .welcome{
        margin-top: 260px;
       padding-top: 90px;
       height: 750px;
      

    }
    .welcome img{
        width: 712px;
        height: 513px;
        
    }
    .content2{
        padding-left:300px;
    }
    .content2 span{
        font-size: 40px;
        width:35vw;
    }
    .content2 p{
        font-size: 18px;
        width: 34vw;
    
    }
    .content2 button{
        font-size: 16px;
        width: 154px;
    }
    .place{
        column-gap: 105px;
    }
    .place a{
        line-height: 30px;
    }
    .city{
        column-gap: 105px;
    }
    .cuisine{
        column-gap: 105px;
    }

    .bottom{
        margin-left: -603px;
    }
    .media{
        margin-right: 30px;
    }

}
@media screen and (min-width: 1440px) {
    .icon{
        padding-right: 410px;
    }
    .middle{
        padding-left: 110px;
    }
    
    .allin img{
        left: 550px;
    }
    .content1{
        left:70px;
    }
    .content1 p{
        width:28vw;
    }
    .welcome img{
        margin-left: 120px;
    }
    .content2{
        padding-left: 424px;
    }
    .content2 p{
        width: 28vw;
    }
    .place{
        margin-left: 150px;
    }
    .download{
        padding-left: 436px;
        padding-right: 130px;
    }
    .media{
        margin-right: 119px;
    }
    .bottom{
        margin-left: -556px;
    }
    footer{
        max-width: 100%;
    }
    
    
}