body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #016f32;
    text-align: center;
    color: white;
    font-weight: bold;

}
h1{
    color: goldenrod;
}
#message-el{
    font-style: italic;
} 
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    padding: 5px 0;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px 0;
 
}
div{
    border-radius: 4px;
    width: 200px;
    height: 50px;
    background: rgb(80, 132, 3);
    margin: 10px 0;
}
