*{
    
    font-family: Arial;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}
.head{
    padding: 3px 20px;
}


.head ul{
    font-size: 14px;
     display: flex;
     justify-content: flex-end; 
    align-self: center; 
     gap: 30px;
     margin-top: 10px;
} 

.head img{
   
    margin-right: -25px;
    height: 15px;;
}
.head a:hover{
     color: #c00;
}



 .icons{

    width:100%;
    font-size: 13px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

     margin-top: 186px;
    white-space: nowrap; 
    gap:40px;
    margin-left: 50px;
    line-height: 1px;

} 
.icons a{
    
    display: inline-block;
    list-style-type:none;
    gap:10px;
    /* margin: 15px; */
    text-align: center;
   
}
.icons a:hover img{
    transform: translateY(-4px);   
    
}
.icons h4:hover{
    /* position: relative;
    top: 2px; */
    color: #c00;
    
}

.search{
     margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    gap: 20px;
    padding: 20px;
    
}
form img{
    width: 40px;

}

.logo img{
    width:110px;
    margin-left: 0;

    
}

form{
    
    background:#ffcc00;
    border-radius: 20px;
    width: 850px;
    height: 40px;
    display: flex;
}
form input{
    flex:1;
    border: 2px solid #ffcc00;
    border-radius:10px 0 0 10px;
    border-right: none;
    cursor: auto;

}
form button{
    width: 84px;
    background: #ffcc00;
    border: none;
    border-radius: 0 10px 10px 0;  

}
 button:hover{
    background: rgb(245, 196, 0);

} 
.yandex{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 400px;
    font-size: 12px;
}
.yandex p{
     margin: 10px;
}
.flag{
    display: flex;
    flex-flow: row;
    justify-content: center;

}
.yandex span{
font-weight: bold;
}

.yandex p:hover{
    color: #c00;
} 
 
footer{
    font-size: 12px;
    display: flex;
    justify-content:center; 
    position:absolute;
    bottom: 0;
    width: 100%; 


    
}
footer a{
    color: grey;
    padding: 20px 10px;
}
footer p{
    color: grey;
   padding: 8px;

    cursor: auto;
    
}
footer a:hover{
    color: #c00;
}

svg{
    background-color: white;
    
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #ffcc00;
    border-left: none;
    border-radius: 0 8px 8px 0;
}
svg:hover{
    color: rgba(62,70,94,.8);
}