*{
    
    font-family: Arial;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
}
.site{
    padding: 3px 20px;
}


.site ul{
    font-size: 14px;
     display: flex;
     justify-content: flex-end; 
    align-self: center; 
     gap: 30px;
     margin-top: 10px;
} 

.site img{
   
    margin-right: -25px;
}
.site a:hover{
     color: #c00;
}



 .icons{

    width:100%;
    font-size: 16p;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
   margin-top: 200px;;
    white-space: nowrap; 

} 
.icons a{
    
    display: inline-block;
    list-style-type:none;
    margin: 20px;
    text-align: center;
}
.icons a:hover img{
    transform: translateY(-4px);
   
    
    
}
.icons h4:hover{
    /* position: relative;
    top: 2px; */
    color: #c00;
    
}

.search{
     margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    gap: 20px;
    
}
form img{
    width: 40px;

}

.logo img{
    width:150px;
    
}

form{
    
    background:#ffcc00;
    border-radius: 20px;
    width: 1100px;
    height: 50px;
    display: flex;
}
form input{
    flex:1;
    border: 3px solid #ffcc00;
    border-radius:10px 0 0 10px;
    border-right: none;
    cursor: auto;

}
form button{
    width: 100px;
    background: #ffcc00;
    border: none;
    border-radius: 0 10px 10px 0;  

}
 button:hover{
    background: rgb(245, 196, 0);

} 
.yandex{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: 600px;
    font-size: 18px;


}
.yandex p{
     margin: 10px;
}
.flag{
    display: flex;
    flex-flow: row;
    justify-content: center;

}
.yandex span{
font-weight: bold;
}

.yandex p:hover{
    color: #c00;
} 
 
footer{
    font-size: 14px;
    display: flex;
    justify-content:center; 
    position:absolute;
    bottom: 0;
    width: 100%; 
    
}
footer a{
    color: grey;
    margin: 20px;
}
footer p{
    color: grey;
    margin: 20px;
    cursor: auto;
}
footer a:hover{
    color: #c00;
}

svg{
    background-color: white;
    
    height: 50px;
    width: 40px;
    display: flex;
    justify-content: center;
    border: 3px solid #ffcc00;
    border-left: none;
    border-radius: 0 8px 8px 0;
}
svg:hover{
    color: rgba(62,70,94,.8);
}