@font-face {
    font-family: circular-apple-system;
    src: url(asset/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: circular-apple-system ;
    src: url(asset/font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
     font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: circular-apple-system;
    src: url(asset/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
    font-style: bold;
}
body{
    font-family: circular-apple-system;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 0;
}
.header_parent{
    padding: 14px 24px 0px;
    cursor: pointer;
    /* width: 100%; */
}
.header{
    width: 104%;
}
.header_content{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border: 0.5px solid  rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 1000px;
    color: black;
    height: 54px;
    

}
.search_icon{
    padding: 19px 15px 0px 20px;

}
.search_icon svg{
    width: 16px;
    height: 16px;
}
.search{
    display: flex;
    flex-direction: row;
}

.header_part1{
    padding-left: 2px;
    padding-top: 9px;
    width: 70%;
    
}
.part1_head{
     font-weight: 500;
   
}

.part1_foot{
    font-size: 12px;
    line-height: 16px;
    color: #717171;
    display: flex;
    width: 80%;

}
.part1_foot span{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

}
.header button svg{
    width: 12px;
    height: 12px;
}
.header button{
    padding: 0 9px;
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid #DDDDDD;
    border-radius: 100%;
    margin-top: 9px;
    background-color: #fff;
}
.header_button{
    margin-right: 9px;  
    margin-left: -6px;
}
.header2{
    display: none;
}
.scroll_bar{
    display: flex;
    gap: 18px;
    overflow: scroll;
    padding: 0 24px;
    border-bottom: 0.5px solid  rgba(0,0,0,0.08);
    overflow-x: hidden;
   
}
.scroll_icon{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 12px 0px 0px;
    padding: 4px 0px 14px;
    gap: 4px;
    cursor: pointer;
}
.scroll_icon img{
    width: 24px;
    height: 24px;
    opacity: 0.5;
}
.scroll_icon a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #717171;
    white-space: nowrap;
}
.scroll_icon:hover{
    
}


@media screen and (min-width: 375px) {
    .header_content{
        padding:0;
    }
    .header button{
        margin-right: 10px;
    }
    .part1_foot{
        width: 100%;
    }
}
@media screen and (min-width: 744px) {
    .header{
        display: none;
    }
    .header2{
        display: flex;
        justify-content: space-between;
        width: 94.5%;
        top: 0;
        padding-left: 20px;
        margin-top: 16px;
    }
    .header2_content{
        display: flex;
        gap: 25px;
        /* justify-content: space-between; */
        padding: 0 0 0 24px;
        width: 53%;
    }

    .airbnb_icon{
        display: flex;
        margin-left: -4px;
        margin-top: 8px;
        
    }
    .icon2{
        display: none;
    }
    .searchbar_parent{
        width: 100%
    }
    .searchbar{
        display: flex;
        justify-content: center;
        background: #fff;
        border: 0.5px solid  rgba(0,0,0,0.08);
        box-shadow: 0 1px 5px rgb(0 0 0 / 10%);;
        border-radius: 40px;
        height: 46px;
        width: 100%;
        gap: 12px;
        padding-left: 13px;
        /* padding-right: 5px; */
      
    }
    .searchbar a{
        text-decoration: none;
        color: #222222 ;
        font-weight: 500;
        border-right: 1px solid #DDDDDD;
        height: 20px;
        margin-top: 13px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-width: 80px;
    }
    .searchicon{
        display: flex;
    }
    .searchicon svg{
        border-radius: 100px;
        background-color: #ff385c;
        padding: 10px;
        margin: 7px 0px 0px 9px;
     
    }
    .searchicon a{
        color: rgb(113, 113, 113);
    
        margin-top: 13px;
        height: 20px;
        font-weight: 400;
        border-right: none;
    }
    .profile{
        display: flex;
        align-items:center;
        column-gap: 20px;
        padding-right: 19px;
       
    }
    .profile button{
        display: flex;
        align-items: center;
        background-color: #ffff;
        border-radius: 21px;
        border: 1px solid #DDDDDD;
        padding: 5px 5px 5px 12px;
        column-gap: 12px;
    
        
    }
    .profile a{
        text-decoration: none;
        color: #222222;
        font-weight: 500;
        padding-right: 4px;
    } 
}
@media screen and (min-width: 768px) {
  
    .header2_content{
        gap: 25px;
    }
    .searchicon svg{
        margin-left: 22px;
    }
    .profile{
        padding-right: 18px;
    }
}
@media screen and (min-width: 950px){
    .header2_content{
        justify-content: space-between;
        gap: 217px;
    }

    .searchbar_parent{
        width: 70%;
    }
    .searchbar{
        padding-left: 16px;
    }
    .profile{
        padding-right: 8px;
    }
   
}
@media screen and (min-width: 960px) {
    .header2_content{
        gap: 225px;
    }
    .profile{
        padding-right: 7px;
    }
    .searchicon svg{
        margin-left: 26px;
    }
    
}
@media screen and (min-width: 1024px){
    .header2_content{
        gap: 260px;
    }
    .airbnb_icon{
        margin-left: -4px;
    }
    .searchbar_parent{
        width: 66%;
    }
    .searchbar{
        padding-left: 16px;;
    }
    .searchicon svg{
        margin-left: 23px;
    }
    .profile{
        padding-right: 4px;
    }
    
}
@media screen and (min-width: 1128px){
    .icon1{
        display: none;
    }
    .icon2{
        display: flex;
        margin-left: 0px;
    }
    .header2_content{
        gap: 246px;
    }
    .searchbar{
        padding-left: 13px;
    }
    .profile{
        padding-right: 0;
        padding-left: 1px;

    }
}
@media screen and (min-width: 1440px) {
    .header2{
        padding: 0 60px;
        width: 90%;
    }
    .header2_content{
        gap: 363px;
    }
    .searchbar_parent{
        
    }
    .searchbar{
        padding-left: 13px;
    }
    .profile{
      margin-right: -4px;
    }
}