@font-face {
    font-family: circular-apple-system;
    src: url(asset/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: circular-apple-system ;
    src: url(asset/font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
     font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: circular-apple-system;
    src: url(asset/font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
    font-weight: 600;
    font-style: bold;
}
body{
    font-family: circular-apple-system;
    font-size: 14px;
    line-height: 1.43;
    color: #484848;
    background-color: #fff;
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    padding: 14px 24px 0px;
    border: 0.5px solid  rgba(0,0,0,0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 1000px;
    align-items: stretch;
    color: black;
}
.header_part1{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;


}
.search_icon{
    width: 16px;
    height: 16px;
}
.header button svg{
    width: 12px;
    height: 12px;
}
.header button{
   
    border: 1px solid #DDDDDD;
    border-radius: 25px;
    margin: 0 10px;
}