@font-face {
    font-family: Eina;
    src: url(font/eina-regular-962b94746f466cf38b0dcc93ebf0703e.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Eina;
    src: url(font/eina-semibold-3c45702adeba381bbd0bc600c987febd.woff2);
    font-weight: 500;
    font-style: semibold;
}
@font-face {
    font-family: Eina;
    src: url(font/eina-bold-df33d802f345a9037eb82e0c80e76547.woff2);
    font-weight: 600;
    font-style: bold;
}
body{
    margin: 0;
    padding: 0;
    font-family: Eina;
}
footer{
    font-family: Eina;
}
.header{
    background-color: #d43684;
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
   
}
.header_image{
    margin-left: 8px;
    margin-top: 3px;
}
.header_image img{
    width: 24px;
    height: 24px;
   
}
.header_text{
    display: flex;
    margin: 0 8px;
}
.text{
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
   
}
.text_one{
    font-weight: 500;
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #E8E9EB;
}

.menu_button{
    padding: 1px 6px;
    height: 24px;
}
.instacart_logo img{
    height: 24px;
    width: 100%;

}
.header_button_group{
    display: flex;
}
.log_in{
    border: none;
    background: none;
    margin-right: 11px;
    font-family: Eina;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
}
.log_in a{
    color: #343538;
    text-decoration: none;
    white-space: nowrap;
}
.sign_up a{
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.sign_up{
    font-family: Eina;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    border: none;
    background-color: #0aad0a;
    border-radius: 20px;
    padding: 8px 16px;

}
.banner{
    padding: 16px 16px 32px 16px;
    background-color: #deedd6;
    margin-bottom: 24px;
}
.banner h1{
   font-size: 31px;
   font-weight: 600;
   color: #343538;
   text-align: left;
   line-height: 40px;
   width: 256px;
   margin: 0;
}
.country_select{
    display: none;
}
.banner span{
    display: none;
}
.section_head{
    display: flex;
    flex-direction: column;
}
.section_head h2{
    padding: 16px 32px;
    font-size: 23px;
    font-weight: 400;
    color: #343538;
    text-align: center;
    line-height: 32px;
    margin: 0;
}
.section_head span{
    color: #0aad0a;
}
.cards{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}
.card{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    justify-content: space-between;
}
.card_container{
    display: flex;
    align-items: center;
}
.card_text{
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}
.card_text p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #343538;
    margin: 0;
}
.card_text span{
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #343538;
    margin: 0;
}
.card_image img{
    width: 58px;
    height: 58px;
    border-radius: 29px;
    border: 1px solid #E8E9EB;
}
.section_two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b1e5d5;
    max-width: 1152px;
    margin: auto;
    height: 100px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 16%);
}
.qr_code img{
    width: 100px;
    height: 100px;
    margin-left: 40px;
}
.section_two span{
    font-size: 23px;
    font-weight: 600;
    color: #000000;
    line-height: 28px;
}
.section_two p{
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    margin: 0;
}
.scan{
    display: none;
}
.section_three{
    display: flex;
    flex-direction: column;
    margin: 32px 0;
   
}

.section_three h2{
    font-size: 23px;
    padding: 0px 24px 32px 24px;
    color: #343538;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.section_three_cards{

    display: flex;
    overflow: scroll;
}
.section_three_card{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f6f7f8;
    min-width: 300px;
    overflow: hidden;
    margin-right: 8px;
}
.section_three_card:last-child{
    margin-right: 0;
}
.section_three_card h3{
    font-size: 28px;
    line-height: 32px;
    color: #343538;
    font-weight: 500;
    margin: 0;
}
.section_three_card p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    max-width: 235px;
}
.card_content{
    padding: 32px;
    min-height: 160px;
 
}
.image{
    margin: 0;
    padding: 0;
}
.image img{
    width: 100%;
    /* height: 185px; */
    border-radius: 0px 0px 6px 6px;
    vertical-align: bottom;
}
.section_three_button{
    background-color: #0aad0a;
    border: none;
    padding: 0;
    width: 85%;
    border-radius: 12px;
    max-width: 350px;
    margin-top: 48px;
    height: 56px;
    margin-left: auto;
    margin-right: auto;
}
.section_three_button span{
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 0 8px;
    line-height: 26px;
    
}
.section_four{
    padding: 32px;
}
.section_four h2{
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    max-width: 450px;
    color: #343538;
    line-height: 32px;
    padding-bottom: 32px;
    margin: 0;
}
.section_four_image img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}
.section_four_cards{
    display: flex;
    flex-direction: column;
}
.section_four_card{
    padding: 32px;
    background-color: #f6f7f8;
    border-radius: 8px;
    margin-bottom: 8px;

}
.section_four_card span{
    font-size: 28px;
    font-weight: 500;
    color: #343538;
    text-align: left;
    width: 100%;
    padding: 1px 6px;
    display: flex;
}
.section_four_image1{
    display: none;
}
.section_four_card p{
    display: none;
}
.section_five{
    padding: 32px 32px 60px;
    display: flex;
    flex-direction: column;
    max-width: 950px;
    margin: 0 auto;
}
.section_five h2{
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    color: #343538;
    text-align: center;
    margin-bottom: 32px;
}
.section_five_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    border-bottom: 1px solid #E8E9EB;
   
}
.section_five_card h3{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: #343538;
    margin: 0;
}
.section_five_card svg{
    width: 24px;
    height: 24px;
}
.section_five_card span{
    margin: 24px 0 24px 15%;
}
.section_six{
    padding: 0 5% ;
    max-width: 1224px;
    margin: 0 auto;
    text-align: left;
}
.section_six_child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid;
    border-color: #E8E9EB;
}
.six_child_one{
    padding: 0 20px 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.instacart{
    display: flex;
    align-items: center;

}
.instacart span{
    font-size: 18px;
    font-weight: 500;
    color: #343538;
    padding: 20px 0 13px 6px;
}
.logo img{
    width: 33px;
    height: 33px;
}
.os{
    display: flex;
    align-items: center;
}
.ios{
    display: flex;
    align-items: center;
    padding: 7px 25px 7px 0;
}
.ios a{
    text-decoration: none;
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #343538;
}
.ios img{
    width: 15px;
    height: 15px;
    margin-right: 13px;
}
.six_child_two{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 32px;
}
.child_card{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E9EB;
    padding: 5.6px 0;
}
.child_card:last-child{
    border-bottom: none;
}
.child_card h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding: 20px 0 13px;
    text-align: left;
    margin: 0;
}
.child_card span svg{
    margin: 25px 0;
}
.list{
    display: none;
}
.section_six_child_one{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #e8e9eb;
}
.head h3{
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #343538;
    padding: 12px 0;
    margin: 0;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content span{
    font-size: 15px;
    line-height: 22px;
    color: #343538;
    font-weight: 400;
    margin-right: 12px;
}
.enable_button{
    background-color: #c7c8cd;
    width: 58px;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 16px;
    
}
.button_svg{
    height: 24px;
    width: 24px;
    background-color: #fff ;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 16%);
}
.button_svg svg{
    opacity: .3;
}
.section_six_child_two{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #deedd6;
    align-items: flex-start;
}
.legal{
    padding: 0px 20px 19px 20px;
    
}
.legal h2{
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #343538;
    margin: 0;
    padding: 19px 0 0;
}
.privacy_media{
    padding: 0 20px;
    margin: 2px 0 20px;
}
.privacy a{
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    color: #343538;
    text-decoration: none;
    padding: 0px 16px 0px 0px;
}
.media svg{
    width: 35px;
    height: 35px;
    padding: 20px 10px 0 0;
}
.footer_text{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 40px;
    padding-left: 6px;
    color: #72767e;
    margin-top: 1px;
}
.footer_text p{
    margin: 0;
}
.media span:nth-child(3) svg{
    padding-right: 9px;
}
@media screen and (min-width: 768px) {
    .header{
        padding: 10px 0px;
    }
    .text{
        font-size: 18px;
    }
    .header_image{
        margin-left: 0;
    }
    .header_image img{
        width: 36px;
        height: 36px;
    }
    .header_nav{
        padding: 24px 40px 23px 34px;
        max-height: 32px;
    }
    .menu_button{
        padding-right: 8px;
    }
    .instacart_logo{
        margin-right: auto;
        
    }
    .instacart_logo img{
        width: 149px;
    }
    .log_in{
        margin: 0 22px;
        line-height: 26px;
        font-size: 18px;
    }
    .sign_up {
        font-size: 18px;
        line-height: 26px;
    }
    .banner{
        background-image: url(image/background.webp);
        background-repeat: no-repeat;
        background-position: right center;
        height: 171px;
        background-size: contain;
        margin-bottom: 32px;
        padding-bottom: 33px;
       
    }
    .banner_container{
        max-width: 1368px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        
    }
    .banner_text{
       padding-left: 128px;
       margin-top: 23px;
    }
    .banner span{
        display: flex;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #343538;
        margin-top: 16px;
    }
    .banner h1{
        font-size: 41px;
        font-weight: 500;
        width: 578px;
        line-height: 52px;
    }
    .country_select{
        display: flex;
        align-items: flex-start;
        position: absolute;
        padding: 6.5px 12px;
        border-radius: 8px;
        border: 1px solid #c7c8cd;
        background-color: #fff;
        top: 1px;
        left: 24px;
        gap: 6px;
    }
    .icon svg{
        width: 25px;
        height: 25px;
        margin-top: 3px;
    }
    .drop_down select{
        background-color: #efefef;
        border: none;
        padding: 4px 0;
        width: 16px;
        height: 16px;
        margin-top: 7px;
    }
    .section_head h2{
        font-size: 31px;
        line-height: 40px;
        /* margin-top: 8px; */
        margin-bottom: 24px;
        text-align: center;
        padding: 0;
    }
    .section_one{
        margin: 32px auto;
        padding: 0 32px;
        max-width: 1152px;
    }
    .cards{
        gap: 24px;
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        padding: 10px 12px 8px 12px;
        box-shadow: rgb(0 0 0 / 16%) 0px 2px 8px;
        border-radius: 12px;
    }
    .card_text{
        margin-top: -2px;
    }
    .card_image{
        margin-top: 2px;
    }
    .next_arrow{
        display: none;
    }
    .scan{
        display: flex;
    }
    .scan img{
        width: 267px;
        height: 100px;
    }
    .section_three h2{
        padding: 0px 0px 32px;
        font-size: 28px;
    }
    .section_four_image{
        display: none;
    }
    .section_four_image1{
        display: flex;
    }
    .section_four_image1 img{
        width: 100%;
        margin-bottom: 16px;
    }
    .section_five{
        padding-bottom: 100px;
    }
    .section_six_child{
        flex-direction: row;
        justify-content: space-between;
    }
    .six_child_one{
        margin: 0;
        width: 50%;
        align-items: flex-start;
    }
    .six_child_two{
        width: 50%;
    }
    .section_six_child_one{
        flex-direction: row;
        padding: 20px 80px 48px 39px;
        max-width: 1105px;
        align-items: center;
    }
    .content{
        justify-content: flex-start;
    }
    .content span{
        margin-right: 24px;
    }
    .head h3{
        width: 24.836vw;
        max-width: 368.33px;
    }
    .section_six_child_two{
        flex-direction: row;
    }
    .privacy{
        margin-top: 20px;
    }
    .media svg{
        width: 20px;
        height: 20px;
    }
    .os:last-child{
        padding-left: 39px;
    }
}
@media screen and (min-width: 776px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px){
    .banner{
        background-size: auto;
    }
    .section_three{
        padding: 0 32px;
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_three h2{
        padding-bottom: 48px;
        font-size: 31px;
        line-height: 40px;
    }
    .section_three_card{
        margin-right: 24px;
        min-width: inherit;
    }
    .section_three_card p{
        font-size: 18px;
        margin: 48px 0 0;
        line-height: 26px;
        max-width: 280px;
    }
    .section_three_card p:first-child{
        margin-bottom: 24px;
    }
    .section_four{
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
    }
    .section_four_card span {
        padding: 0;
    }
    .section_four_card p{
        display: flex;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #343538;
        text-align: left;
        margin: 24px 0 0;
    }
   
    .child_card span{
        display: none;
    }
    .six_child_one{
        padding: 0;
        min-width: 227.52px;
        max-width: 278px ;
    }
    .instacart{
        min-width: 227.52px;
        max-width: 408px;
    }
    .six_child_two{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: flex-start;
        width: 75%;
        max-width: 816px;
        padding: 0;
    }
    .child_card{
        flex-direction: column;
        justify-content: center;
        border-bottom: none;
        width: 184px;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
    .list a{
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: #343538;
        text-decoration: none;
        padding: 7px 0;
    }
    
}
@media screen and (min-width: 1224px){
  
}
@media screen and (min-width: 1280px){
    .section_three_card h3{
        font-size: 31px;
        line-height: 40px;

    }
    .section_four_cards{
        flex-direction: row;
    }
    .section_four_card{
        margin-bottom: 0;
        margin-right: 8px;
        width: 202px;
    }
    .section_four_card:last-child{
        margin-right: 0;
    }
    .section_four_card span{
        font-size: 31px;
        line-height: 40px;
        max-width: 180px;
    }
    .section_four_card p{
        font-size: 23px;
        line-height: 28px;
    }
}
@media screen and (min-width: 1144px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }
    .card{
        width: 320px;
    }
    
}
@media screen and (min-width: 1440px) {
    .banner_text{
        padding-left: 144px;
    }
    .country_select{
        left: 40px;
    }
}