body{
    margin: 0;
    background: #222;
    font-family: sans-serif;
    font-weight: 400;
}
.content{
    background-image: url(img/one.avif);
    height: 100vh;
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    place-items: center;
    background-blend-mode: multiply;
}

header{
    background: rgb(171, 111, 88);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.toggle{
    display: none;
}
.toggle_label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.toggle_label span,
.toggle_label span::before,
.toggle_label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.toggle_label span::before,
.toggle_label span::after{
    content: '';
    position: absolute;
}
.toggle_label span::before{
    bottom: 7px;
}

.toggle_label span::after{
    top: 7px;
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgb(171, 111, 88);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out ;
}
nav a:hover{
    color: black;
}
.toggle:checked ~ nav{
    /* display: block; */
    transform: scale(1,1);
}
.toggle:checked ~ nav a{
    opacity:1;
    transition: opacity 250ms ease-in-out 250ms;
}
@media screen and (min-width: 768px) {
    .toggle_label{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr);
    }
    .logo{
        grid-column: 2 / 3;
    }
    nav{
        all: unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    nav li{
        margin-left: 3em;
        margin-right: 1em;
        margin-bottom: 0;
    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: right ;
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before{
        transform: scale(1,1);
    }
    
}
